# CPSC4810 Team Project 
#### Leo Liang
#### Qirui Cao
#### Latesh Subramanayam

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

## Section 1 Data Inspection and Cleaning

describe data sources for each dataset

In [ ]:
dfCounty = pd.read_csv("data/us_county.csv")
dfPoverty = pd.read_csv("data/PovertyEstimates_us_county.csv")
dfcovCnty = pd.read_csv("data/covid_us_county.csv")
dfvaccine = pd.read_csv("data/us_state_vaccinations.csv")

### Inspect the county data set

In [2]:
dfCounty = pd.read_csv("data/us_county.csv")

In [9]:
dfCounty.head(5)

,fips,county,state,state_code,male,female,median_age,population,female_percentage,lat,long
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.642730
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,-87.722564
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,-85.393210
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,-87.126475
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,-86.567380

In [8]:
print("County dataset has", dfCounty.shape[0], "rows and", dfCounty.shape[1], "columns in the dataset.")

County dataset has 3220 rows and 11 columns in the dataset.

In [11]:
print("The number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfCounty) == dfCounty["fips"].nunique())

The number of rows in the dataset is equal to the number of unique values in column 'fips': True

Since the number of rows of the dataframe is equal to the number of unique values for variable "fips". We can consider the column "fips" as the key of the dataframe. That is, each row in dataframe dfCounty represents a different US county.

In [12]:
dfCounty.isnull().sum()

fips                  0
county                0
state                 0
state_code           79
male                  0
female                0
median_age            0
population            0
female_percentage     0
lat                   0
long                  0
dtype: int64

Then, by running the total number of missing values for each variable, we find out that there are 79 missing values for "state_code". Then we need to check those rows containing missing values.

In [13]:
dfCounty[dfCounty["state_code"].isnull()]['state'].value_counts()

Puerto Rico             78
District of Columbia     1
Name: state, dtype: int64

In [14]:
print("Puerto Rico has", len(dfCounty[dfCounty["state"] == "Puerto Rico"]), "rows in the dataframe. ")

Puerto Rico has 78 rows in the dataframe.

In [15]:
print("District of Columbia", len(dfCounty[dfCounty["state"] == "District of Columbia"]), "rows in the dataframe")

District of Columbia 1 rows in the dataframe

We find out that the only two states which do not have a state code are Puerto Rico and District of Columbia. By comparing the number of rows for two states, and the number of missing value occurance, we can be sure that state Puerto Rico and District of Columbia do not have state code. This is because both areas are not a US state, then they do not have a US state code.

In [16]:
dfCounty.describe()

,fips,male,female,median_age,population,female_percentage,lat,long
count,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000
mean,31393.605280,4.987486e+04,5.145743e+04,41.277516,1.013323e+05,49.961246,37.966287,-91.641071
std,16292.078954,1.601656e+05,1.659688e+05,5.356761,3.260964e+05,2.374927,6.095580,13.311311
min,1001.000000,3.800000e+01,3.700000e+01,21.700000,7.500000e+01,21.003945,17.981964,-164.027212
25%,19032.500000,5.657500e+03,5.573000e+03,38.100000,1.121425e+04,49.433348,34.353322,-98.086128
50%,30024.000000,1.291650e+04,1.299650e+04,41.200000,2.595050e+04,50.415031,38.212520,-89.945290
75%,46105.500000,3.324850e+04,3.353075e+04,44.300000,6.655225e+04,51.149548,41.694910,-82.992494
max,72153.000000,4.976788e+06,5.121264e+06,67.000000,1.009805e+07,58.613660,69.312150,-65.286183

Then, we aggregate the population by all states to create a new dataframe containing the state-level population information.

In [17]:
state_pop = pd.DataFrame(dfCounty.groupby('state')[['male','female','population']].sum())
state_pop["female_percentage"] = state_pop["female"]/state_pop["population"]
state_pop

                          male    female  population  female_percentage
state
Alabama                2355799   2508881     4864680           0.515734
Alaska                  385579    352937      738516           0.477900
Arizona                3453439   3493246     6946685           0.502865
Arkansas               1468412   1522259     2990671           0.509002
California            19453769  19694991    39148760           0.503081
Colorado               2780831   2750310     5531141           0.497241
Connecticut            1747131   1834373     3581504           0.512180
Delaware                459570    489925      949495           0.515985
District of Columbia    324881    359617      684498           0.525373
Florida               10071925  10526214    20598139           0.511027
Georgia                5012229   5285255    10297484           0.513257
Hawaii                  713772    708257     1422029           0.498061
Idaho                   845564    842245     1687809           0.499017
Illinois               6295915   6525582    12821497           0.508956
Indiana                3271068   3366358     6637426           0.507178
Iowa                   1554481   1578018     3132499           0.503757
Kansas                 1449413   1459363     2908776           0.501710
Kentucky               2186715   2253489     4440204           0.507519
Louisiana              2279968   2383648     4663616           0.511116
Maine                   652299    680514     1332813           0.510585
Maryland               2910323   3093112     6003435           0.515224
Massachusetts          3313979   3516214     6830193           0.514804
Michigan               4899118   5058370     9957488           0.507997
Minnesota              2751748   2775610     5527358           0.502159
Mississippi            1450379   1538383     2988762           0.514722
Missouri               2988772   3101290     6090062           0.509238
Montana                 524220    517512     1041732           0.496780
Nebraska                949910    954850     1904760           0.501297
Nevada                 1467165   1455684     2922849           0.498036
New Hampshire           664983    678639     1343622           0.505082
New Jersey             4335930   4545915     8881845           0.511821
New Mexico             1035850   1056584     2092434           0.504955
New York               9519555  10098898    19618453           0.514765
North Carolina         4944759   5210865    10155624           0.513101
North Dakota            386183    366018      752201           0.486596
Ohio                   5703967   5937912    11641879           0.510048
Oklahoma               1941576   1976561     3918137           0.504464
Oregon                 2023021   2058922     4081943           0.504398
Pennsylvania           6263189   6527992    12791181           0.510351
Puerto Rico            1612865   1774076     3386941           0.523799
Rhode Island            513332    543279     1056611           0.514171
South Carolina         2405726   2550199     4955925           0.514576
South Dakota            435761    428528      864289           0.495816
Tennessee              3243678   3407411     6651089           0.512309
Texas                 13849775  14035420    27885195           0.503329
Utah                   1532768   1512582     3045350           0.496686
Vermont                 307973    317004      624977           0.507225
Virginia               4138574   4275200     8413774           0.508119
Washington             3645665   3648671     7294336           0.500206
West Virginia           904196    924858     1829054           0.505648
Wisconsin              2872376   2906018     5778394           0.502911
Wyoming                 296979    284857      581836           0.489583

### Inspect the Poverty data

In [18]:
dfPoverty = pd.read_csv("data/PovertyEstimates_us_county.csv")

In [19]:
dfPoverty.head(5)

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,...,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,POV04_2018,CI90LB04_2018,CI90UB04_2018,PCTPOV04_2018,CI90LB04P_2018,CI90UB04P_2018
0,0,US,United States,NaN,NaN,NaN,NaN,41852315,41619366,42085264,...,17.2,61937,61843,62031,3758704.0,3714862.0,3802546.0,19.5,19.3,19.7
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,801758,785668,817848,...,23.7,49881,49123,50639,73915.0,69990.0,77840.0,26.0,24.6,27.4
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,7587,6334,8840,...,23.9,59338,53628,65048,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,21069,17390,24748,...,16.9,57588,54437,60739,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,6788,5662,7914,...,45.9,34382,31157,37607,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfPoverty.columns

Then, we altered the dataset to keep the relevant columns.

In [30]:
dfPoverty = dfPoverty[['FIPStxt', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 
                        'POVALL_2018', 'CI90LBAll_2018', 'CI90UBALL_2018', 'PCTPOVALL_2018', 'CI90LBALLP_2018', 'CI90UBALLP_2018', 
                        'POV017_2018', 'CI90LB017_2018', 'CI90UB017_2018', 'PCTPOV017_2018', 'CI90LB017P_2018', 'CI90UB017P_2018', 
                        'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018']]

In [31]:
print("Poverty dataset has", dfPoverty.shape[0], "rows and", dfPoverty.shape[1], "columns in the dataset.")

Poverty dataset has 3193 rows and 20 columns in the dataset.

In [32]:
print("The number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfPoverty) == dfPoverty["FIPStxt"].nunique())

The number of rows in the dataset is equal to the number of unique values in column 'fips': True

Similarly, since the number of rows of the dataframe is equal to the number of unique values for variable "FIPStxt". We can consider the column "FIPStxt" as the key of the dataframe. That is, each row in dataframe dfCounty represents a different US area.

In [33]:
dfPoverty.isnull().sum()

FIPStxt                             0
Stabr                               0
Area_name                           0
Rural-urban_Continuum_Code_2013    52
Urban_Influence_Code_2013          52
POVALL_2018                         0
CI90LBAll_2018                      0
CI90UBALL_2018                      0
PCTPOVALL_2018                      0
CI90LBALLP_2018                     0
CI90UBALLP_2018                     0
POV017_2018                         0
CI90LB017_2018                      0
CI90UB017_2018                      0
PCTPOV017_2018                      0
CI90LB017P_2018                     0
CI90UB017P_2018                     0
MEDHHINC_2018                       0
CI90LBINC_2018                      0
CI90UBINC_2018                      0
dtype: int64

Then, by running the total number of missing values for each variable, we find out that there are 52 missing values for 2013's "RUCC" and "UIC". Then we need to check those rows containing missing values.

In [35]:
dfPoverty[dfPoverty["Rural-urban_Continuum_Code_2013"].isna()]["Area_name"]

0              United States
1                    Alabama
69                    Alaska
99                   Arizona
115                 Arkansas
191               California
250                 Colorado
315              Connecticut
324                 Delaware
328     District of Columbia
330                  Florida
398                  Georgia
558                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: Area_name, dtype: object

In [36]:
dfPoverty[dfPoverty["Urban_Influence_Code_2013"].isna()]["Area_name"]

0              United States
1                    Alabama
69                    Alaska
99                   Arizona
115                 Arkansas
191               California
250                 Colorado
315              Connecticut
324                 Delaware
328     District of Columbia
330                  Florida
398                  Georgia
558                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: Area_name, dtype: object

By observing the missing values, the corresponding area names are states and US itself. The missing values are due to the fact that the country US itself and states are not applied to the county-level code.

## Merge

Merging County info with covid cases by county

In [20]:
mergeCounty = pd.merge(dfCounty, dfcovCnty, how='right', on='fips' )
mergeCounty.head()

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,long_x,county_y,state_y,lat_y,long_y,date,cases,state_code_y,deaths
0,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

Merge the above with poverty data

In [37]:
mergeCouPov = pd.merge(mergeCounty, dfPoverty1, how='left', left_on='fips', right_on='FIPStxt')
mergeCouPov.head()

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,CI90UB017P_2018,POV517_2018,CI90LB517_2018,CI90UB517_2018,PCTPOV517_2018,CI90LB517P_2018,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018
0,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
1,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
2,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
3,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
4,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0