# CPSC4810 Team Project 
#### Leo Liang
#### Qirui Cao
#### Latesh Subramanayam

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

## Section 1 Data Inspection and Cleaning

describe data sources for each dataset

In [ ]:
dfcovCnty = pd.read_csv("data/covid_us_county.csv")
dfvaccine = pd.read_csv("data/us_state_vaccinations.csv")

### Inspect the county data set

In [2]:
dfCounty = pd.read_csv("data/us_county.csv")

In [9]:
dfCounty.head(5)

,fips,county,state,state_code,male,female,median_age,population,female_percentage,lat,long
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.642730
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,-87.722564
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,-85.393210
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,-87.126475
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,-86.567380

In [8]:
print("County dataset has", dfCounty.shape[0], "rows and", dfCounty.shape[1], "columns in the dataset.")

County dataset has 3220 rows and 11 columns in the dataset.

In [95]:
print("The number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfCounty) == dfCounty.fips.nunique())

The number of rows in the dataset is equal to the number of unique values in column 'fips': True

Since the number of rows of the dataframe is equal to the number of unique values for variable "fips". We can consider the column "fips" as the key of the dataframe. That is, each row in dataframe dfCounty represents a different US county.

In [12]:
dfCounty.isnull().sum()

fips                  0
county                0
state                 0
state_code           79
male                  0
female                0
median_age            0
population            0
female_percentage     0
lat                   0
long                  0
dtype: int64

Then, by running the total number of missing values for each variable, we find out that there are 79 missing values for "state_code". Then we need to check those rows containing missing values.

In [76]:
dfCounty[dfCounty.state_code.isnull()]['state'].value_counts()

Puerto Rico             78
District of Columbia     1
Name: state, dtype: int64

In [74]:
print("Puerto Rico has", len(dfCounty[dfCounty.state == "Puerto Rico"]), "rows in the dataframe. ")

Puerto Rico has 78 rows in the dataframe.

In [75]:
print("District of Columbia", len(dfCounty[dfCounty.state == "District of Columbia"]), "rows in the dataframe")

District of Columbia 1 rows in the dataframe

We find out that the only two states which do not have a state code are Puerto Rico and District of Columbia. By comparing the number of rows for two states, and the number of missing value occurance, we can be sure that state Puerto Rico and District of Columbia do not have state code. This is because both areas are not a US state, then they do not have a US state code.

In [16]:
dfCounty.describe()

,fips,male,female,median_age,population,female_percentage,lat,long
count,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000
mean,31393.605280,4.987486e+04,5.145743e+04,41.277516,1.013323e+05,49.961246,37.966287,-91.641071
std,16292.078954,1.601656e+05,1.659688e+05,5.356761,3.260964e+05,2.374927,6.095580,13.311311
min,1001.000000,3.800000e+01,3.700000e+01,21.700000,7.500000e+01,21.003945,17.981964,-164.027212
25%,19032.500000,5.657500e+03,5.573000e+03,38.100000,1.121425e+04,49.433348,34.353322,-98.086128
50%,30024.000000,1.291650e+04,1.299650e+04,41.200000,2.595050e+04,50.415031,38.212520,-89.945290
75%,46105.500000,3.324850e+04,3.353075e+04,44.300000,6.655225e+04,51.149548,41.694910,-82.992494
max,72153.000000,4.976788e+06,5.121264e+06,67.000000,1.009805e+07,58.613660,69.312150,-65.286183

Then, we aggregate the population by all states to replicate the raw dataframe with state-level information.

In [79]:
state_pop = pd.DataFrame(dfCounty.groupby('state')[['male','female','population']].sum())
state_pop["female_percentage"] = state_pop.female/state_pop.population
state_pop

                          male    female  population  female_percentage
state
Alabama                2355799   2508881     4864680           0.515734
Alaska                  385579    352937      738516           0.477900
Arizona                3453439   3493246     6946685           0.502865
Arkansas               1468412   1522259     2990671           0.509002
California            19453769  19694991    39148760           0.503081
Colorado               2780831   2750310     5531141           0.497241
Connecticut            1747131   1834373     3581504           0.512180
Delaware                459570    489925      949495           0.515985
District of Columbia    324881    359617      684498           0.525373
Florida               10071925  10526214    20598139           0.511027
Georgia                5012229   5285255    10297484           0.513257
Hawaii                  713772    708257     1422029           0.498061
Idaho                   845564    842245     1687809           0.499017
Illinois               6295915   6525582    12821497           0.508956
Indiana                3271068   3366358     6637426           0.507178
Iowa                   1554481   1578018     3132499           0.503757
Kansas                 1449413   1459363     2908776           0.501710
Kentucky               2186715   2253489     4440204           0.507519
Louisiana              2279968   2383648     4663616           0.511116
Maine                   652299    680514     1332813           0.510585
Maryland               2910323   3093112     6003435           0.515224
Massachusetts          3313979   3516214     6830193           0.514804
Michigan               4899118   5058370     9957488           0.507997
Minnesota              2751748   2775610     5527358           0.502159
Mississippi            1450379   1538383     2988762           0.514722
Missouri               2988772   3101290     6090062           0.509238
Montana                 524220    517512     1041732           0.496780
Nebraska                949910    954850     1904760           0.501297
Nevada                 1467165   1455684     2922849           0.498036
New Hampshire           664983    678639     1343622           0.505082
New Jersey             4335930   4545915     8881845           0.511821
New Mexico             1035850   1056584     2092434           0.504955
New York               9519555  10098898    19618453           0.514765
North Carolina         4944759   5210865    10155624           0.513101
North Dakota            386183    366018      752201           0.486596
Ohio                   5703967   5937912    11641879           0.510048
Oklahoma               1941576   1976561     3918137           0.504464
Oregon                 2023021   2058922     4081943           0.504398
Pennsylvania           6263189   6527992    12791181           0.510351
Puerto Rico            1612865   1774076     3386941           0.523799
Rhode Island            513332    543279     1056611           0.514171
South Carolina         2405726   2550199     4955925           0.514576
South Dakota            435761    428528      864289           0.495816
Tennessee              3243678   3407411     6651089           0.512309
Texas                 13849775  14035420    27885195           0.503329
Utah                   1532768   1512582     3045350           0.496686
Vermont                 307973    317004      624977           0.507225
Virginia               4138574   4275200     8413774           0.508119
Washington             3645665   3648671     7294336           0.500206
West Virginia           904196    924858     1829054           0.505648
Wisconsin              2872376   2906018     5778394           0.502911
Wyoming                 296979    284857      581836           0.489583

### Inspect the Poverty data

In [81]:
dfPoverty = pd.read_csv("data/PovertyEstimates_us_county.csv")

In [82]:
dfPoverty.head(5)

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,...,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,POV04_2018,CI90LB04_2018,CI90UB04_2018,PCTPOV04_2018,CI90LB04P_2018,CI90UB04P_2018
0,0,US,United States,NaN,NaN,NaN,NaN,41852315,41619366,42085264,...,17.2,61937,61843,62031,3758704.0,3714862.0,3802546.0,19.5,19.3,19.7
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,801758,785668,817848,...,23.7,49881,49123,50639,73915.0,69990.0,77840.0,26.0,24.6,27.4
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,7587,6334,8840,...,23.9,59338,53628,65048,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,21069,17390,24748,...,16.9,57588,54437,60739,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,6788,5662,7914,...,45.9,34382,31157,37607,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
dfPoverty.columns

Index(['FIPStxt', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2003',
       'Urban_Influence_Code_2003', 'Rural-urban_Continuum_Code_2013',
       'Urban_Influence_Code_2013', 'POVALL_2018', 'CI90LBAll_2018',
       'CI90UBALL_2018', 'PCTPOVALL_2018', 'CI90LBALLP_2018',
       'CI90UBALLP_2018', 'POV017_2018', 'CI90LB017_2018', 'CI90UB017_2018',
       'PCTPOV017_2018', 'CI90LB017P_2018', 'CI90UB017P_2018', 'POV517_2018',
       'CI90LB517_2018', 'CI90UB517_2018', 'PCTPOV517_2018', 'CI90LB517P_2018',
       'CI90UB517P_2018', 'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018',
       'POV04_2018', 'CI90LB04_2018', 'CI90UB04_2018', 'PCTPOV04_2018',
       'CI90LB04P_2018', 'CI90UB04P_2018'],
      dtype='object')

Then, we altered the dataset to keep the relevant columns.

In [84]:
dfPoverty = dfPoverty[['FIPStxt', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 
                        'POVALL_2018', 'CI90LBAll_2018', 'CI90UBALL_2018', 'PCTPOVALL_2018', 'CI90LBALLP_2018', 'CI90UBALLP_2018', 
                        'POV017_2018', 'CI90LB017_2018', 'CI90UB017_2018', 'PCTPOV017_2018', 'CI90LB017P_2018', 'CI90UB017P_2018', 
                        'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018']]

In [31]:
print("Poverty dataset has", dfPoverty.shape[0], "rows and", dfPoverty.shape[1], "columns in the dataset.")

Poverty dataset has 3193 rows and 20 columns in the dataset.

In [32]:
print("The number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfPoverty) == dfPoverty["FIPStxt"].nunique())

The number of rows in the dataset is equal to the number of unique values in column 'fips': True

Similarly, since the number of rows of the dataframe is equal to the number of unique values for variable "FIPStxt". We can consider the column "FIPStxt" as the key of the dataframe. That is, each row in dataframe dfCounty represents a different US area.

In [33]:
dfPoverty.isnull().sum()

FIPStxt                             0
Stabr                               0
Area_name                           0
Rural-urban_Continuum_Code_2013    52
Urban_Influence_Code_2013          52
POVALL_2018                         0
CI90LBAll_2018                      0
CI90UBALL_2018                      0
PCTPOVALL_2018                      0
CI90LBALLP_2018                     0
CI90UBALLP_2018                     0
POV017_2018                         0
CI90LB017_2018                      0
CI90UB017_2018                      0
PCTPOV017_2018                      0
CI90LB017P_2018                     0
CI90UB017P_2018                     0
MEDHHINC_2018                       0
CI90LBINC_2018                      0
CI90UBINC_2018                      0
dtype: int64

Then, by running the total number of missing values for each variable, we find out that there are 52 missing values for 2013's "RUCC" and "UIC". Then we need to check those rows containing missing values.

In [86]:
dfPoverty[dfPoverty["Rural-urban_Continuum_Code_2013"].isna()]["Area_name"]

0              United States
1                    Alabama
69                    Alaska
99                   Arizona
115                 Arkansas
191               California
250                 Colorado
315              Connecticut
324                 Delaware
328     District of Columbia
330                  Florida
398                  Georgia
558                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: Area_name, dtype: object

In [87]:
dfPoverty[dfPoverty["Urban_Influence_Code_2013"].isna()]["Area_name"]

0              United States
1                    Alabama
69                    Alaska
99                   Arizona
115                 Arkansas
191               California
250                 Colorado
315              Connecticut
324                 Delaware
328     District of Columbia
330                  Florida
398                  Georgia
558                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: Area_name, dtype: object

By observing the missing values in both columns, the corresponding area names are states and US itself. The missing values are due to the fact that the country US itself and states are not applied to the county-level code, as it only applies to counties.

Meanwhile, Rural-urban Continuum Code 2013 and Urban Influence Code 2013 are all categorical variables, which have their corresponding categories. (Please see documents below) Then, we need to map the code to their corresponding description. 

Rural-Urban Continuum Code: https://www.ers.usda.gov/data-products/rural-urban-continuum-codes/documentation/
Urban Influence Code: https://www.ers.usda.gov/data-products/urban-influence-codes/documentation.aspx.

In [37]:
RUCC = {1: "Counties in metro areas of 1 million population or more", 
           2: "Counties in metro areas of 250,000 to 1 million population",
           3: "Counties in metro areas of fewer than 250,000 population",
           4: "Urban population of 20,000 or more, adjacent to a metro area",
           5: "Urban population of 20,000 or more, not adjacent to a metro area",
           6: "Urban population of 2,500 to 19,999, adjacent to a metro area", 
           7: "Urban population of 2,500 to 19,999, not adjacent to a metro area", 
           8: "Completely rural or less than 2,500 urban population, adjacent to a metro area",
           9: "Completely rural or less than 2,500 urban population, not adjacent to a metro area"
          }

UIC = {1: "In large metro area of 1+ million residents",
       2: "In small metro area of less than 1 million residents",
       3: "Micropolitan area adjacent to large metro area",
       4: "Noncore adjacent to large metro area",
       5: "Micropolitan area adjacent to small metro area",
       6: "Noncore adjacent to small metro area and contains a town of at least 2,500 residents",
       7: "Noncore adjacent to small metro area and does not contain a town of at least 2,500 residents",
       8: "Micropolitan area not adjacent to a metro area",
       9: "Noncore adjacent to micro area and contains a town of at least 2,500 residents",
       10: "Noncore adjacent to micro area and does not contain a town of at least 2,500 residents",
       11: "Noncore not adjacent to metro or micro area and contains a town of at least 2,500 residents",
       12: "Noncore not adjacent to metro or micro area and does not contain a town of at least 2,500 residents"
      }

dfPoverty["Rural-urban_Continuum_Code_2013"] = dfPoverty["Rural-urban_Continuum_Code_2013"].map(RUCC)
dfPoverty["Urban_Influence_Code_2013"] = dfPoverty["Urban_Influence_Code_2013"].map(UIC)

In [38]:
dfPoverty.head(5)

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,PCTPOVALL_2018,CI90LBALLP_2018,CI90UBALLP_2018,POV017_2018,CI90LB017_2018,CI90UB017_2018,PCTPOV017_2018,CI90LB017P_2018,CI90UB017P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018
0,0,US,United States,NaN,NaN,41852315,41619366,42085264,13.1,13.0,13.2,12997532,12873127,13121937,18.0,17.8,18.2,61937,61843,62031
1,1000,AL,Alabama,NaN,NaN,801758,785668,817848,16.8,16.5,17.1,255613,247744,263482,23.9,23.2,24.6,49881,49123,50639
2,1001,AL,Autauga County,"Counties in metro areas of 250,000 to 1 millio...",In small metro area of less than 1 million res...,7587,6334,8840,13.8,11.5,16.1,2509,1965,3053,19.3,15.1,23.5,59338,53628,65048
3,1003,AL,Baldwin County,"Counties in metro areas of fewer than 250,000 ...",In small metro area of less than 1 million res...,21069,17390,24748,9.8,8.1,11.5,6442,4723,8161,13.9,10.2,17.6,57588,54437,60739
4,1005,AL,Barbour County,"Urban population of 2,500 to 19,999, adjacent ...",Noncore adjacent to small metro area and conta...,6788,5662,7914,30.9,25.8,36.0,2242,1788,2696,43.9,35.0,52.8,34382,31157,37607

### Inspect COVID case and death data

In [39]:
dfcovCnty = pd.read_csv("data/covid_us_county.csv")

In [40]:
dfcovCnty.head(5)

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

In [43]:
print("COVID dataset has", dfcovCnty.shape[0], "rows and", dfcovCnty.shape[1], "columns in the dataset.")

COVID dataset has 1858152 rows and 9 columns in the dataset.

This data contains the county-level cumulative cases and deaths starting from January 22nd, 2020. Let's take the current date, and inspect the missing values

In [57]:
current = dfcovCnty[dfcovCnty['date'] == '2021-07-30']
current.isnull().sum()

fips          10
county         6
state          0
lat            0
long           0
date           0
cases          0
state_code    89
deaths         0
dtype: int64

There are 10 missing values in column "fips", 6 in column "county" and 89 in column "state_code". We need to check all the rows containing these missing values.

In [58]:
current[current.fips.isnull()]

,fips,county,state,lat,long,date,cases,state_code,deaths
706119,NaN,Dukes and Nantucket,Massachusetts,41.406747,-70.687635,2021-07-30,3009,MA,6
726691,NaN,Federal Correctional Institution (FCI),Michigan,0.000000,0.000000,2021-07-30,320,MI,5
744483,NaN,Michigan Department of Corrections (MDOC),Michigan,0.000000,0.000000,2021-07-30,26770,MI,155
886263,NaN,Kansas City,Missouri,39.099700,-94.578600,2021-07-30,49320,MO,617
1644091,NaN,Bear River,Utah,41.521068,-113.083282,2021-07-30,23219,UT,114
1646871,NaN,Central Utah,Utah,39.372319,-111.575868,2021-07-30,9650,UT,72
1657435,NaN,Southeast Utah,Utah,38.996171,-110.701396,2021-07-30,3975,UT,31
1657991,NaN,Southwest Utah,Utah,37.854472,-111.441876,2021-07-30,31376,UT,289
1659659,NaN,TriCounty,Utah,40.124915,-109.517442,2021-07-30,5053,UT,42
1664107,NaN,Weber-Morgan,Utah,41.271160,-111.914512,2021-07-30,33602,UT,233

Since in the merging stage of our project, we will merge by fips, which is the key column for most of our county-level dataframe, we will remove those rows containing missing values in fips.

In [60]:
current[current.county.isnull()]

,fips,county,state,lat,long,date,cases,state_code,deaths
57267,60.0,NaN,American Samoa,-14.2710,-170.1320,2021-07-30,0,NaN,0
188483,88888.0,NaN,Diamond Princess,0.0000,0.0000,2021-07-30,49,NaN,0
318587,99999.0,NaN,Grand Princess,0.0000,0.0000,2021-07-30,103,NaN,3
319143,66.0,NaN,Guam,13.4443,144.7937,2021-07-30,8541,NaN,143
1180943,69.0,NaN,Northern Mariana Islands,15.0979,145.6739,2021-07-30,183,NaN,2
1673559,78.0,NaN,Virgin Islands,18.3358,-64.8963,2021-07-30,4606,NaN,37

Since the missing values in county indicates two cruise ships and four areas outside US territory, we remove those rows as well.

In [70]:
dfcovCnty=dfcovCnty.dropna(subset=['fips','county'])
current=current.dropna(subset=['fips','county'])

Then, we checked the rows with missing state codes, and found out that only Puerto Rico and District of Columbia don't have state code. It is the same case as the previous situation where both areas are not a US state, thus there are no state codes.

In [73]:
current[current.state_code.isnull()].state.value_counts()

Puerto Rico             80
District of Columbia     3
Name: state, dtype: int64

In [90]:
print("Puerto Rico has", len(current[current.state == "Puerto Rico"]), "rows in the dataframe. ")

Puerto Rico has 80 rows in the dataframe.

In [91]:
print("District of Columbia", len(current[current.state == "District of Columbia"]), "rows in the dataframe")

District of Columbia 3 rows in the dataframe

In [94]:
print("Now, the number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(current) == current.fips.nunique())

Now, the number of rows in the dataset is equal to the number of unique values in column 'fips': True

Since the number of rows of the dataframe is equal to the number of unique values for variable "fips". We can consider the column "fips" as the key of the dataframe. That is, each row in dataframe current represents a different US county.

In [96]:
current.describe()

               fips          lat         long         cases        deaths
count   3326.000000  3326.000000  3326.000000  3.326000e+03   3326.000000
mean   33045.814492    36.792361   -88.834532  1.044669e+04    183.783524
std    18569.095786     8.943560    20.757867  3.790373e+04    716.377701
min     1001.000000     0.000000  -174.159600  0.000000e+00      0.000000
25%    19081.500000    33.918623   -97.786130  9.872500e+02     17.000000
50%    31014.000000    38.010954   -89.488865  2.500500e+03     48.000000
75%    47128.500000    41.596206   -82.330115  6.542750e+03    114.000000
max    90056.000000    69.314792     0.000000  1.297087e+06  24691.000000

Similar to the county data, we also aggregated the cumulative cases and deaths by state level to replicate the dataframe.

In [98]:
dfcovSt = pd.DataFrame(dfcovCnty.groupby(["state", "date"])[["cases", "deaths"]].sum())
dfcovSt

                    cases  deaths
state   date
Alabama 2020-01-22      0       0
        2020-01-23      0       0
        2020-01-24      0       0
        2020-01-25      0       0
        2020-01-26      0       0
...                   ...     ...
Wyoming 2021-07-26  64451     766
        2021-07-27  64623     776
        2021-07-28  64623     776
        2021-07-29  64955     776
        2021-07-30  65127     776

[28912 rows x 2 columns]

## Merge county-level data

Merging County info with covid cases by county

In [20]:
mergeCounty = pd.merge(dfCounty, dfcovCnty, how='right', on='fips' )
mergeCounty.head()

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,long_x,county_y,state_y,lat_y,long_y,date,cases,state_code_y,deaths
0,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

Merge the above with poverty data

In [37]:
mergeCouPov = pd.merge(mergeCounty, dfPoverty1, how='left', left_on='fips', right_on='FIPStxt')
mergeCouPov.head()

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,CI90UB017P_2018,POV517_2018,CI90LB517_2018,CI90UB517_2018,PCTPOV517_2018,CI90LB517P_2018,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018
0,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
1,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
2,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
3,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0
4,1001.0,Autauga County,Alabama,AL,26874.0,28326.0,37.8,55200.0,51.315217,32.534923,...,23.5,1891.0,1469.0,2313.0,19.5,15.1,23.9,59338.0,53628.0,65048.0

## Merge state-level data