# CPSC4810 Team Project 
#### Leo Liang
#### Qirui Cao
#### Latesh Subramanayam

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## Section 1 Data Inspection and Cleaning

(description data sources for each dataset:)

### Inspect the county data set

In [2]:
dfCounty = pd.read_csv("data/us_county.csv")

In [3]:
dfCounty.head(5)

,fips,county,state,state_code,male,female,median_age,population,female_percentage,lat,long
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.642730
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,-87.722564
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,-85.393210
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,-87.126475
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,-86.567380

In [4]:
print("County dataset has", dfCounty.shape[0], "rows and", dfCounty.shape[1], "columns in the dataset.")

County dataset has 3220 rows and 11 columns in the dataset.

In [5]:
print("The number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfCounty) == dfCounty.fips.nunique())

The number of rows in the dataset is equal to the number of unique values in column 'fips': True

Since the number of rows of the dataframe is equal to the number of unique values for variable "fips". We can consider the column "fips" as the key of the dataframe. That is, each row in dataframe dfCounty represents a different US county.

In [6]:
dfCounty.isnull().sum()

fips                  0
county                0
state                 0
state_code           79
male                  0
female                0
median_age            0
population            0
female_percentage     0
lat                   0
long                  0
dtype: int64

Then, by running the total number of missing values for each variable, we find out that there are 79 missing values for "state_code". Then we need to check those rows containing missing values.

In [7]:
dfCounty[dfCounty.state_code.isnull()]['state'].value_counts()

Puerto Rico             78
District of Columbia     1
Name: state, dtype: int64

In [8]:
print("Puerto Rico has", len(dfCounty[dfCounty.state == "Puerto Rico"]), "rows in the dataframe. ")

Puerto Rico has 78 rows in the dataframe.

In [9]:
print("District of Columbia", len(dfCounty[dfCounty.state == "District of Columbia"]), "rows in the dataframe")

District of Columbia 1 rows in the dataframe

We find out that the only two states which do not have a state code are Puerto Rico and District of Columbia. By comparing the number of rows for two states, and the number of missing value occurance, we can be sure that state Puerto Rico and District of Columbia do not have state code. 

This is because both areas are not a US state, then they do not have a US state code. Since Puerto Rico is not part of 50 states + 1 disctrict, we exclude those observations from the project.

In [10]:
dfCounty = dfCounty.drop(dfCounty[dfCounty.state == "Puerto Rico"].index)
dfCounty.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

Then, we aggregate the population by all states to replicate the raw dataframe with state-level information.

In [11]:
state_pop = pd.DataFrame(dfCounty.groupby('state')[['male','female','population']].sum())
state_pop["female_proportion"] = state_pop.female/state_pop.population
state_pop.reset_index(level=0, inplace=True)
state_pop

                   state      male    female  population  female_proportion
0                Alabama   2355799   2508881     4864680           0.515734
1                 Alaska    385579    352937      738516           0.477900
2                Arizona   3453439   3493246     6946685           0.502865
3               Arkansas   1468412   1522259     2990671           0.509002
4             California  19453769  19694991    39148760           0.503081
5               Colorado   2780831   2750310     5531141           0.497241
6            Connecticut   1747131   1834373     3581504           0.512180
7               Delaware    459570    489925      949495           0.515985
8   District of Columbia    324881    359617      684498           0.525373
9                Florida  10071925  10526214    20598139           0.511027
10               Georgia   5012229   5285255    10297484           0.513257
11                Hawaii    713772    708257     1422029           0.498061
12                 Idaho    845564    842245     1687809           0.499017
13              Illinois   6295915   6525582    12821497           0.508956
14               Indiana   3271068   3366358     6637426           0.507178
15                  Iowa   1554481   1578018     3132499           0.503757
16                Kansas   1449413   1459363     2908776           0.501710
17              Kentucky   2186715   2253489     4440204           0.507519
18             Louisiana   2279968   2383648     4663616           0.511116
19                 Maine    652299    680514     1332813           0.510585
20              Maryland   2910323   3093112     6003435           0.515224
21         Massachusetts   3313979   3516214     6830193           0.514804
22              Michigan   4899118   5058370     9957488           0.507997
23             Minnesota   2751748   2775610     5527358           0.502159
24           Mississippi   1450379   1538383     2988762           0.514722
25              Missouri   2988772   3101290     6090062           0.509238
26               Montana    524220    517512     1041732           0.496780
27              Nebraska    949910    954850     1904760           0.501297
28                Nevada   1467165   1455684     2922849           0.498036
29         New Hampshire    664983    678639     1343622           0.505082
30            New Jersey   4335930   4545915     8881845           0.511821
31            New Mexico   1035850   1056584     2092434           0.504955
32              New York   9519555  10098898    19618453           0.514765
33        North Carolina   4944759   5210865    10155624           0.513101
34          North Dakota    386183    366018      752201           0.486596
35                  Ohio   5703967   5937912    11641879           0.510048
36              Oklahoma   1941576   1976561     3918137           0.504464
37                Oregon   2023021   2058922     4081943           0.504398
38          Pennsylvania   6263189   6527992    12791181           0.510351
39          Rhode Island    513332    543279     1056611           0.514171
40        South Carolina   2405726   2550199     4955925           0.514576
41          South Dakota    435761    428528      864289           0.495816
42             Tennessee   3243678   3407411     6651089           0.512309
43                 Texas  13849775  14035420    27885195           0.503329
44                  Utah   1532768   1512582     3045350           0.496686
45               Vermont    307973    317004      624977           0.507225
46              Virginia   4138574   4275200     8413774           0.508119
47            Washington   3645665   3648671     7294336           0.500206
48         West Virginia    904196    924858     1829054           0.505648
49             Wisconsin   2872376   2906018     5778394           0.502911
50               Wyoming    296979    284857      581836           0.489583

### Inspect the Poverty data

In [12]:
dfPoverty = pd.read_csv("data/PovertyEstimates_us_county.csv")

In [13]:
dfPoverty.head(5)

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,...,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,POV04_2018,CI90LB04_2018,CI90UB04_2018,PCTPOV04_2018,CI90LB04P_2018,CI90UB04P_2018
0,0,US,United States,NaN,NaN,NaN,NaN,41852315,41619366,42085264,...,17.2,61937,61843,62031,3758704.0,3714862.0,3802546.0,19.5,19.3,19.7
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,801758,785668,817848,...,23.7,49881,49123,50639,73915.0,69990.0,77840.0,26.0,24.6,27.4
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,7587,6334,8840,...,23.9,59338,53628,65048,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,21069,17390,24748,...,16.9,57588,54437,60739,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,6788,5662,7914,...,45.9,34382,31157,37607,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dfPoverty.columns

Index(['FIPStxt', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2003',
       'Urban_Influence_Code_2003', 'Rural-urban_Continuum_Code_2013',
       'Urban_Influence_Code_2013', 'POVALL_2018', 'CI90LBAll_2018',
       'CI90UBALL_2018', 'PCTPOVALL_2018', 'CI90LBALLP_2018',
       'CI90UBALLP_2018', 'POV017_2018', 'CI90LB017_2018', 'CI90UB017_2018',
       'PCTPOV017_2018', 'CI90LB017P_2018', 'CI90UB017P_2018', 'POV517_2018',
       'CI90LB517_2018', 'CI90UB517_2018', 'PCTPOV517_2018', 'CI90LB517P_2018',
       'CI90UB517P_2018', 'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018',
       'POV04_2018', 'CI90LB04_2018', 'CI90UB04_2018', 'PCTPOV04_2018',
       'CI90LB04P_2018', 'CI90UB04P_2018'],
      dtype='object')

Then, we altered the dataset to keep the relevant columns.

In [15]:
dfPoverty = dfPoverty[['FIPStxt', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 
                        'POVALL_2018', 'PCTPOVALL_2018', 'POV017_2018', 'PCTPOV017_2018', 'MEDHHINC_2018']]

In [16]:
print("Poverty dataset has", dfPoverty.shape[0], "rows and", dfPoverty.shape[1], "columns in the dataset.")

Poverty dataset has 3193 rows and 10 columns in the dataset.

In [17]:
print("The number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfPoverty) == dfPoverty["FIPStxt"].nunique())

The number of rows in the dataset is equal to the number of unique values in column 'fips': True

Similarly, since the number of rows of the dataframe is equal to the number of unique values for variable "FIPStxt". We can consider the column "FIPStxt" as the key of the dataframe. That is, each row in dataframe dfCounty represents a different US area.

In [18]:
dfPoverty.isnull().sum()

FIPStxt                             0
Stabr                               0
Area_name                           0
Rural-urban_Continuum_Code_2013    52
Urban_Influence_Code_2013          52
POVALL_2018                         0
PCTPOVALL_2018                      0
POV017_2018                         0
PCTPOV017_2018                      0
MEDHHINC_2018                       0
dtype: int64

Then, by running the total number of missing values for each variable, we find out that there are 52 missing values for 2013's "RUCC" and "UIC". Then we need to check those rows containing missing values.

In [19]:
dfPoverty[dfPoverty["Rural-urban_Continuum_Code_2013"].isna()]["Area_name"]

0              United States
1                    Alabama
69                    Alaska
99                   Arizona
115                 Arkansas
191               California
250                 Colorado
315              Connecticut
324                 Delaware
328     District of Columbia
330                  Florida
398                  Georgia
558                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: Area_name, dtype: object

In [20]:
dfPoverty[dfPoverty["Urban_Influence_Code_2013"].isna()]["Area_name"]

0              United States
1                    Alabama
69                    Alaska
99                   Arizona
115                 Arkansas
191               California
250                 Colorado
315              Connecticut
324                 Delaware
328     District of Columbia
330                  Florida
398                  Georgia
558                   Hawaii
563                    Idaho
608                 Illinois
711                  Indiana
804                     Iowa
904                   Kansas
1010                Kentucky
1131               Louisiana
1196                   Maine
1213                Maryland
1238           Massachusetts
1253                Michigan
1337               Minnesota
1425             Mississippi
1508                Missouri
1624                 Montana
1681                Nebraska
1775                  Nevada
1793           New Hampshire
1804              New Jersey
1826              New Mexico
1860                New York
1923          North Carolina
2024            North Dakota
2078                    Ohio
2167                Oklahoma
2245                  Oregon
2282            Pennsylvania
2350            Rhode Island
2356          South Carolina
2403            South Dakota
2470               Tennessee
2566                   Texas
2821                    Utah
2851                 Vermont
2866                Virginia
3000              Washington
3040           West Virginia
3096               Wisconsin
3169                 Wyoming
Name: Area_name, dtype: object

By observing the missing values in both columns, the corresponding area names are states and US itself. The missing values are due to the fact that the country US itself and states are not applied to the county-level code, as it only applies to counties.

Meanwhile, Rural-urban Continuum Code 2013 and Urban Influence Code 2013 are all categorical variables, which have their corresponding categories. (Please see documents below) Then, we need to map the code to their corresponding description. 

Rural-Urban Continuum Code: https://www.ers.usda.gov/data-products/rural-urban-continuum-codes/documentation/
Urban Influence Code: https://www.ers.usda.gov/data-products/urban-influence-codes/documentation.aspx.

In [21]:
RUCC = {1: "Level 1", 
           2: "Level 2",
           3: "Level 3",
           4: "Level 4",
           5: "Level 5",
           6: "Level 6", 
           7: "Level 7", 
           8: "Level 8",
           9: "Level 9"
          }

UIC = {1: "In large metro area of 1+ million residents",
       2: "In small metro area of less than 1 million residents",
       3: "Micropolitan area adjacent to large metro area",
       4: "Noncore adjacent to large metro area",
       5: "Micropolitan area adjacent to small metro area",
       6: "Noncore adjacent to small metro area and contains a town of at least 2,500 residents",
       7: "Noncore adjacent to small metro area and does not contain a town of at least 2,500 residents",
       8: "Micropolitan area not adjacent to a metro area",
       9: "Noncore adjacent to micro area and contains a town of at least 2,500 residents",
       10: "Noncore adjacent to micro area and does not contain a town of at least 2,500 residents",
       11: "Noncore not adjacent to metro or micro area and contains a town of at least 2,500 residents",
       12: "Noncore not adjacent to metro or micro area and does not contain a town of at least 2,500 residents"
      }

dfPoverty["Rural-urban_Continuum_Code_2013"] = dfPoverty["Rural-urban_Continuum_Code_2013"].map(RUCC)
dfPoverty["Urban_Influence_Code_2013"] = dfPoverty["Urban_Influence_Code_2013"].map(UIC)

In [22]:
dfPoverty.head(5)

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,0,US,United States,NaN,NaN,41852315,13.1,12997532,18.0,61937
1,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
2,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
3,1003,AL,Baldwin County,Level 3,In small metro area of less than 1 million res...,21069,9.8,6442,13.9,57588
4,1005,AL,Barbour County,Level 6,Noncore adjacent to small metro area and conta...,6788,30.9,2242,43.9,34382

In [23]:
dfPoverty.describe()

,FIPStxt,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
count,3193.000000,3.193000e+03,3193.000000,3.193000e+03,3193.000000,3193.000000
mean,30356.223301,3.932257e+04,15.125274,1.221190e+04,21.045443,52944.895709
std,15178.992102,7.583740e+05,6.092508,2.358859e+05,8.862190,13878.755803
min,0.000000,5.000000e+00,2.600000,5.000000e+00,2.500000,25385.000000
25%,18173.000000,1.621000e+03,10.800000,5.030000e+02,14.500000,43783.000000
50%,29175.000000,3.876000e+03,14.100000,1.200000e+03,20.100000,50748.000000
75%,45075.000000,9.874000e+03,18.300000,2.966000e+03,26.200000,59020.000000
max,56045.000000,4.185232e+07,54.000000,1.299753e+07,68.300000,140382.000000

### Inspect COVID case and death data

In [24]:
dfcovCnty = pd.read_csv("data/covid_us_county.csv")

In [25]:
dfcovCnty.head(5)

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

In [26]:
print("COVID dataset has", dfcovCnty.shape[0], "rows and", dfcovCnty.shape[1], "columns in the dataset.")

COVID dataset has 1858152 rows and 9 columns in the dataset.

This data contains the county-level cumulative cases and deaths starting from January 22nd, 2020. Let's take the current date, and inspect the missing values

In [27]:
dfcovCnty_current = dfcovCnty[dfcovCnty['date'] == '2021-07-30']
dfcovCnty_current.head()

,fips,county,state,lat,long,date,cases,state_code,deaths
555,1001.0,Autauga,Alabama,32.539527,-86.644082,2021-07-30,7479,AL,114
1111,1003.0,Baldwin,Alabama,30.727750,-87.722071,2021-07-30,24499,AL,328
1667,1005.0,Barbour,Alabama,31.868263,-85.387129,2021-07-30,2462,AL,61
2223,1007.0,Bibb,Alabama,32.996421,-87.125115,2021-07-30,2845,AL,65
2779,1009.0,Blount,Alabama,33.982109,-86.567906,2021-07-30,7266,AL,139

In [28]:
print("current date COVID dataset has", dfcovCnty_current.shape[0], "rows and", dfcovCnty_current.shape[1], "columns in the dataset.")

current date COVID dataset has 3342 rows and 9 columns in the dataset.

In [29]:
dfcovCnty_current.isnull().sum()

fips          10
county         6
state          0
lat            0
long           0
date           0
cases          0
state_code    89
deaths         0
dtype: int64

There are 10 missing values in column "fips", 6 in column "county" and 89 in column "state_code". We need to check all the rows containing these missing values.

In [30]:
dfcovCnty_current[dfcovCnty_current.fips.isnull()]

,fips,county,state,lat,long,date,cases,state_code,deaths
706119,NaN,Dukes and Nantucket,Massachusetts,41.406747,-70.687635,2021-07-30,3009,MA,6
726691,NaN,Federal Correctional Institution (FCI),Michigan,0.000000,0.000000,2021-07-30,320,MI,5
744483,NaN,Michigan Department of Corrections (MDOC),Michigan,0.000000,0.000000,2021-07-30,26770,MI,155
886263,NaN,Kansas City,Missouri,39.099700,-94.578600,2021-07-30,49320,MO,617
1644091,NaN,Bear River,Utah,41.521068,-113.083282,2021-07-30,23219,UT,114
1646871,NaN,Central Utah,Utah,39.372319,-111.575868,2021-07-30,9650,UT,72
1657435,NaN,Southeast Utah,Utah,38.996171,-110.701396,2021-07-30,3975,UT,31
1657991,NaN,Southwest Utah,Utah,37.854472,-111.441876,2021-07-30,31376,UT,289
1659659,NaN,TriCounty,Utah,40.124915,-109.517442,2021-07-30,5053,UT,42
1664107,NaN,Weber-Morgan,Utah,41.271160,-111.914512,2021-07-30,33602,UT,233

Since in the merging stage of our project, we will merge by fips, which is the key column for most of our county-level dataframe, we will remove those rows containing missing values in fips.

In [31]:
dfcovCnty_current[dfcovCnty_current.county.isnull()]

,fips,county,state,lat,long,date,cases,state_code,deaths
57267,60.0,NaN,American Samoa,-14.2710,-170.1320,2021-07-30,0,NaN,0
188483,88888.0,NaN,Diamond Princess,0.0000,0.0000,2021-07-30,49,NaN,0
318587,99999.0,NaN,Grand Princess,0.0000,0.0000,2021-07-30,103,NaN,3
319143,66.0,NaN,Guam,13.4443,144.7937,2021-07-30,8541,NaN,143
1180943,69.0,NaN,Northern Mariana Islands,15.0979,145.6739,2021-07-30,183,NaN,2
1673559,78.0,NaN,Virgin Islands,18.3358,-64.8963,2021-07-30,4606,NaN,37

Since the missing values in county indicates two cruise ships and four areas outside 50 states + 1 district, we remove those rows as well.

In [32]:
dfcovCnty=dfcovCnty.dropna(subset=['fips','county'])
dfcovCnty_current=dfcovCnty_current.dropna(subset=['fips','county'])

Then, we checked the rows with missing state codes, and found out that only Puerto Rico and District of Columbia don't have state code. It is the same case as the previous situation where both areas are not a US state, thus there are no state codes. And we removed rows with Puerto Rico as well.

In [33]:
dfcovCnty_current[dfcovCnty_current.state_code.isnull()].state.value_counts()

Puerto Rico             80
District of Columbia     3
Name: state, dtype: int64

In [34]:
print("Puerto Rico has", len(dfcovCnty_current[dfcovCnty_current.state == "Puerto Rico"]), "rows in the dataframe. ")

Puerto Rico has 80 rows in the dataframe.

In [35]:
print("District of Columbia", len(dfcovCnty_current[dfcovCnty_current.state == "District of Columbia"]), "rows in the dataframe")

District of Columbia 3 rows in the dataframe

In [36]:
dfcovCnty = dfcovCnty.drop(dfcovCnty[dfcovCnty.state == "Puerto Rico"].index)
dfcovCnty_current = dfcovCnty[dfcovCnty.date == '2021-07-30']
dfcovCnty.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [37]:
print("Now, the number of rows in the dataset is equal to the number of unique values in column 'fips':", 
      len(dfcovCnty_current) == dfcovCnty_current.fips.nunique())

Now, the number of rows in the dataset is equal to the number of unique values in column 'fips': True

Since the number of rows of the dataframe is equal to the number of unique values for variable "fips". We can consider the column "fips" as the key of the dataframe. That is, each row in dataframe current represents a different US county.

In [38]:
dfcovCnty_current.describe()

               fips          lat         long         cases        deaths
count   3246.000000  3246.000000  3246.000000  3.246000e+03   3246.000000
mean   32083.336106    37.260840   -89.428180  1.065934e+04    187.518792
std    17742.211826     8.522405    20.596120  3.834142e+04    723.357640
min     1001.000000     0.000000  -174.159600  0.000000e+00      0.000000
25%    19041.500000    34.263872   -98.062361  1.020000e+03     18.000000
50%    30046.000000    38.162993   -89.900575  2.568500e+03     49.000000
75%    47008.500000    41.685722   -82.841249  6.731750e+03    117.000000
max    90056.000000    69.314792     0.000000  1.297087e+06  24691.000000

Similar to the county data, we also aggregated the cumulative cases and deaths by state level to replicate the dataframe.

In [39]:
dfcovSt = pd.DataFrame(dfcovCnty.groupby(["state", "date"])[["cases", "deaths"]].sum())
dfcovSt.reset_index(inplace=True)
dfcovSt.head()

     state        date  cases  deaths
0  Alabama  2020-01-22      0       0
1  Alabama  2020-01-23      0       0
2  Alabama  2020-01-24      0       0
3  Alabama  2020-01-25      0       0
4  Alabama  2020-01-26      0       0

In [40]:
dfcovSt_current = dfcovSt[dfcovSt.date == "2021-07-30"]
dfcovSt_current

                      state        date    cases  deaths
555                 Alabama  2021-07-30   577463   11510
1111                 Alaska  2021-07-30    75486     389
1667                Arizona  2021-07-30   925169   18224
2223               Arkansas  2021-07-30   385113    6123
2779             California  2021-07-30  3956303   64423
3335               Colorado  2021-07-30   575082    6945
3891            Connecticut  2021-07-30   354335    8293
4447               Delaware  2021-07-30   111275    1830
5003   District of Columbia  2021-07-30    50398    1149
5559                Florida  2021-07-30  2634234   39079
6115                Georgia  2021-07-30  1179449   21676
6671                 Hawaii  2021-07-30    41925     537
7227                  Idaho  2021-07-30   200484    2197
7783               Illinois  2021-07-30  1419611   25873
8339                Indiana  2021-07-30   771299   14005
8895                   Iowa  2021-07-30   378831    6183
9451                 Kansas  2021-07-30   333850    5261
10007              Kentucky  2021-07-30   482599    7334
10563             Louisiana  2021-07-30   541679   10999
11119                 Maine  2021-07-30    70372     899
11675              Maryland  2021-07-30   467961    9818
12231         Massachusetts  2021-07-30   716771   18076
12787              Michigan  2021-07-30   984016   21028
13343             Minnesota  2021-07-30   612701    7761
13899           Mississippi  2021-07-30   343505    7543
14455              Missouri  2021-07-30   634482    9464
15011               Montana  2021-07-30   116366    1704
15567              Nebraska  2021-07-30   228450    2280
16123                Nevada  2021-07-30   356401    5912
16679         New Hampshire  2021-07-30   100657    1387
17235            New Jersey  2021-07-30  1038171   26595
17791            New Mexico  2021-07-30   210416    4410
18347              New York  2021-07-30  2147318   53632
18903        North Carolina  2021-07-30  1048076   13635
19459          North Dakota  2021-07-30   111570    1570
20015                  Ohio  2021-07-30  1127808   20492
20571              Oklahoma  2021-07-30   480635    7485
21127                Oregon  2021-07-30   219755    2858
21683          Pennsylvania  2021-07-30  1229002   27850
22239          Rhode Island  2021-07-30   154339    2740
22795        South Carolina  2021-07-30   617148    9904
23351          South Dakota  2021-07-30   125225    2045
23907             Tennessee  2021-07-30   893554   12724
24463                 Texas  2021-07-30  3133639   53248
25019                  Utah  2021-07-30   325592    1670
25575               Vermont  2021-07-30    24889     260
26131              Virginia  2021-07-30   694384   11532
26687            Washington  2021-07-30   473076    6122
27243         West Virginia  2021-07-30   167016    2946
27799             Wisconsin  2021-07-30   687198    8290
28355               Wyoming  2021-07-30    65127     776

### Inspect the Vaccination Data

In [41]:
dfvac = pd.read_csv("data/us_state_vaccinations.csv")

In [42]:
dfvac.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [43]:
print("Vaccine dataset has", dfvac.shape[0], "rows and", dfvac.shape[1], "columns in the dataset.")

Vaccine dataset has 13088 rows and 14 columns in the dataset.

Since the dataset contains the time series state level data of US vaccination, we subsetted the current date as an example to examine the data.

In [44]:
dfvac_current = dfvac[dfvac.date == '2021-07-30']
dfvac_current.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
199,2021-07-30,Alabama,3586810.0,5092510.0,2116551.0,34.33,73.15,1683367.0,43.17,103.86,28844.0,13131.0,2678.0,0.704
400,2021-07-30,Alaska,696377.0,853805.0,376154.0,45.48,95.19,332678.0,51.42,116.71,1214.0,837.0,1144.0,0.816
601,2021-07-30,American Samoa,51670.0,55830.0,28768.0,42.31,92.78,23560.0,51.66,100.25,0.0,229.0,4112.0,0.925
802,2021-07-30,Arizona,7085856.0,8540830.0,3853257.0,45.19,97.35,3289110.0,52.94,117.34,17540.0,12063.0,1657.0,0.830
1003,2021-07-30,Arkansas,2432736.0,3004150.0,1405459.0,36.29,80.61,1095214.0,46.57,99.55,10935.0,9842.0,3261.0,0.810

In [45]:
dfvac_current.isnull().sum()

date                                   0
location                               0
total_vaccinations                     0
total_distributed                      1
people_vaccinated                      1
people_fully_vaccinated_per_hundred    4
total_vaccinations_per_hundred         4
people_fully_vaccinated                1
people_vaccinated_per_hundred          4
distributed_per_hundred                4
daily_vaccinations_raw                 0
daily_vaccinations                     0
daily_vaccinations_per_million         4
share_doses_used                       1
dtype: int64

Looking at the unique locations, we will only be keeping the states and the capital city

In [46]:
dfvac_current.location.unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'Bureau of Prisons', 'California', 'Colorado', 'Connecticut',
       'Delaware', 'Dept of Defense', 'District of Columbia',
       'Federated States of Micronesia', 'Florida', 'Georgia', 'Guam',
       'Hawaii', 'Idaho', 'Illinois', 'Indian Health Svc', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Long Term Care', 'Louisiana',
       'Maine', 'Marshall Islands', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York State', 'North Carolina', 'North Dakota',
       'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Republic of Palau', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'United States', 'Utah', 'Vermont', 'Veterans Health',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

Only location where it is a state will be kept, and also we need to change New York State to New York in order to match with other datasets.

In [47]:
dfvac_current = dfvac_current[~dfvac_current.location.isin(['American Samoa','Bureau of Prisons','Dept of Defense','Federated States of Micronesia',
               'Indian Health Svc','Long Term Care','Marshall Islands','Northern Mariana Islands',
               'Puerto Rico', 'Republic of Palau','United States','Veterans Health','Guam','Virgin Islands'])]
dfvac_current.location[dfvac_current.location == "New York State"] = "New York"
dfvac_current.location.nunique()

51

Similarly, we removed those locations from the time series dataframe as well.

In [48]:
dfvac = dfvac[~dfvac.location.isin(['American Samoa','Bureau of Prisons','Dept of Defense','Federated States of Micronesia',
               'Indian Health Svc','Long Term Care','Marshall Islands','Northern Mariana Islands',
               'Puerto Rico', 'Republic of Palau','United States','Veterans Health','Guam','Virgin Islands'])]
dfvac.location[dfvac.location == "New York State"] = "New York"
dfvac.location.nunique()

51

In [49]:
dfvac[dfvac.location == "New York"]

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
8040,2021-01-12,New York,579532.0,1622100.0,543014.0,0.19,2.98,36422.0,2.79,8.34,NaN,NaN,NaN,0.357
8041,2021-01-13,New York,632473.0,1796850.0,587865.0,0.23,3.25,44512.0,3.02,9.24,52941.00,52941.0,2721.0,0.352
8042,2021-01-14,New York,688576.0,1872625.0,617596.0,NaN,3.54,NaN,3.17,9.63,56103.00,54522.0,2803.0,0.368
8043,2021-01-15,New York,757466.0,1884325.0,671311.0,0.38,3.89,73523.0,3.45,9.69,68890.00,59311.0,3049.0,0.402
8044,2021-01-16,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60713.25,59662.0,3067.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8236,2021-07-27,New York,22775948.0,24823865.0,12168754.0,56.72,117.08,11033818.0,62.55,127.61,43644.00,36471.0,1875.0,0.918
8237,2021-07-28,New York,22820585.0,24861515.0,12191988.0,56.83,117.31,11056206.0,62.67,127.80,44637.00,37570.0,1931.0,0.918
8238,2021-07-29,New York,22860905.0,24980615.0,12216355.0,56.92,117.52,11073293.0,62.80,128.41,40320.00,37158.0,1910.0,0.915
8239,2021-07-30,New York,22902722.0,25076125.0,12242044.0,57.01,117.73,11091103.0,62.93,128.90,41817.00,37673.0,1937.0,0.913
8240,2021-07-31,New York,22950250.0,25122005.0,12271911.0,57.11,117.97,11109858.0,63.08,129.14,47528.00,37731.0,1940.0,0.914

checking for missing values again. We do not have missing values anymore.

In [50]:
dfvac_current.isnull().sum()

date                                   0
location                               0
total_vaccinations                     0
total_distributed                      0
people_vaccinated                      0
people_fully_vaccinated_per_hundred    0
total_vaccinations_per_hundred         0
people_fully_vaccinated                0
people_vaccinated_per_hundred          0
distributed_per_hundred                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
daily_vaccinations_per_million         0
share_doses_used                       0
dtype: int64

now we have the 50 states and the capital city in the data

In [51]:
print("Now, the number of rows in the dataset is equal to the number of unique values in column 'location':", 
      len(dfvac_current) == dfvac_current.location.nunique())

Now, the number of rows in the dataset is equal to the number of unique values in column 'location': True

Since the number of rows of the dataframe is equal to the number of unique values for variable "location". We can consider the column "location" as the key column of the dataframe. That is, each row in dataframe current represents a different US county.

In [52]:
dfvac = dfvac[['date', 'location', 'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'daily_vaccinations',
       'daily_vaccinations_per_million']]

In [53]:
dfvac_current = dfvac_current[['date', 'location', 'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'daily_vaccinations',
       'daily_vaccinations_per_million']]

## Merge county-level data

#### Merge the current county-level data
Merge County info with covid cases by county (current only)

In [54]:
mergeCounty = pd.merge(dfCounty, dfcovCnty_current, how='inner', on='fips', validate = "1:1")
mergeCounty.head(5)

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,long_x,county_y,state_y,lat_y,long_y,date,cases,state_code_y,deaths
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.642730,Autauga,Alabama,32.539527,-86.644082,2021-07-30,7479,AL,114
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,-87.722564,Baldwin,Alabama,30.727750,-87.722071,2021-07-30,24499,AL,328
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,-85.393210,Barbour,Alabama,31.868263,-85.387129,2021-07-30,2462,AL,61
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,-87.126475,Bibb,Alabama,32.996421,-87.125115,2021-07-30,2845,AL,65
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,-86.567380,Blount,Alabama,33.982109,-86.567906,2021-07-30,7266,AL,139

Merge the above with poverty data

In [55]:
mergeCouPov = pd.merge(mergeCounty, dfPoverty, how='inner', left_on='fips', right_on='FIPStxt', validate = "1:1")
mergeCouPov.head(5)

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,...,1003,AL,Baldwin County,Level 3,In small metro area of less than 1 million res...,21069,9.8,6442,13.9,57588
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,...,1005,AL,Barbour County,Level 6,Noncore adjacent to small metro area and conta...,6788,30.9,2242,43.9,34382
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,...,1007,AL,Bibb County,Level 1,In large metro area of 1+ million residents,4400,21.8,1238,27.8,46064
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,...,1009,AL,Blount County,Level 1,In large metro area of 1+ million residents,7527,13.2,2374,18.0,50412

In [56]:
mergeCouPov.isnull().sum()

fips                               0
county_x                           0
state_x                            0
state_code_x                       1
male                               0
female                             0
median_age                         0
population                         0
female_percentage                  0
lat_x                              0
long_x                             0
county_y                           0
state_y                            0
lat_y                              0
long_y                             0
date                               0
cases                              0
state_code_y                       1
deaths                             0
FIPStxt                            0
Stabr                              0
Area_name                          0
Rural-urban_Continuum_Code_2013    0
Urban_Influence_Code_2013          0
POVALL_2018                        0
PCTPOVALL_2018                     0
POV017_2018                        0
PCTPOV017_2018                     0
MEDHHINC_2018                      0
dtype: int64

Then we checked the missing values and found out that the missing values occur due to the fact that District of Columbia does not have a state code.

In [57]:
mergeCouPov[mergeCouPov.state_code_x.isnull()]

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
319,11001,District of Columbia,District of Columbia,NaN,324881,359617,33.9,684498,52.537334,38.904734,...,11001,DC,District of Columbia,Level 1,In large metro area of 1+ million residents,107806,16.1,30803,24.5,82533

In [58]:
mergeCouPov[mergeCouPov.state_code_y.isnull()]

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
319,11001,District of Columbia,District of Columbia,NaN,324881,359617,33.9,684498,52.537334,38.904734,...,11001,DC,District of Columbia,Level 1,In large metro area of 1+ million residents,107806,16.1,30803,24.5,82533

Then, we removed some of the redundant columns and kept the rest.

In [59]:
county_current = mergeCouPov[['fips', 'county_x', 'state_x', 'state_code_x', 'male', 'female',
       'median_age', 'population', 'female_percentage', 'lat_x', 'long_x', 'date', 'cases',
       'deaths', 'Rural-urban_Continuum_Code_2013', 'Urban_Influence_Code_2013',
       'POVALL_2018', 'PCTPOVALL_2018', 'POV017_2018', 'PCTPOV017_2018',
       'MEDHHINC_2018']]

In [60]:
county_current.head(5)

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,date,cases,deaths,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,2021-07-30,7479,114,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,...,2021-07-30,24499,328,Level 3,In small metro area of less than 1 million res...,21069,9.8,6442,13.9,57588
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,...,2021-07-30,2462,61,Level 6,Noncore adjacent to small metro area and conta...,6788,30.9,2242,43.9,34382
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,...,2021-07-30,2845,65,Level 1,In large metro area of 1+ million residents,4400,21.8,1238,27.8,46064
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,...,2021-07-30,7266,139,Level 1,In large metro area of 1+ million residents,7527,13.2,2374,18.0,50412

#### Merge time series county-level data

In [61]:
mergeCountyts = pd.merge(dfCounty, dfcovCnty, how='inner', on='fips', validate = "1:m")
mergeCountyts.head(5)

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,long_x,county_y,state_y,lat_y,long_y,date,cases,state_code_y,deaths
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.64273,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

In [62]:
mergeCouPovts = pd.merge(mergeCountyts, dfPoverty, how='inner', left_on='fips', right_on='FIPStxt', validate = "m:1")
mergeCouPovts.head(5)

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
1,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
2,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
3,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
4,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,1001,AL,Autauga County,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338

In [63]:
mergeCouPovts.isnull().sum()

fips                                 0
county_x                             0
state_x                              0
state_code_x                       556
male                                 0
female                               0
median_age                           0
population                           0
female_percentage                    0
lat_x                                0
long_x                               0
county_y                             0
state_y                              0
lat_y                                0
long_y                               0
date                                 0
cases                                0
state_code_y                       556
deaths                               0
FIPStxt                              0
Stabr                                0
Area_name                            0
Rural-urban_Continuum_Code_2013      0
Urban_Influence_Code_2013            0
POVALL_2018                          0
PCTPOVALL_2018                       0
POV017_2018                          0
PCTPOV017_2018                       0
MEDHHINC_2018                        0
dtype: int64

In [64]:
mergeCouPovts[mergeCouPovts.state_code_x.isnull()].county_x.unique()

array(['District of Columbia'], dtype=object)

In [65]:
mergeCouPovts[mergeCouPovts.state_code_y.isnull()].county_x.unique()

array(['District of Columbia'], dtype=object)

Similarly, the missing values here are also due to District of Columbia not having a state code.

In [66]:
county_ts = mergeCouPovts[['fips', 'county_x', 'state_x', 'state_code_x', 'male', 'female',
       'median_age', 'population', 'female_percentage', 'lat_x', 'long_x', 'date', 'cases',
       'deaths', 'Rural-urban_Continuum_Code_2013', 'Urban_Influence_Code_2013',
       'POVALL_2018', 'PCTPOVALL_2018', 'POV017_2018', 'PCTPOV017_2018',
       'MEDHHINC_2018']]

Also, we removed the redundant columns like the current data.

In [67]:
county_ts.head()

,fips,county_x,state_x,state_code_x,male,female,median_age,population,female_percentage,lat_x,...,date,cases,deaths,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,2020-01-22,0,0,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
1,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,2020-01-23,0,0,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
2,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,2020-01-24,0,0,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
3,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,2020-01-25,0,0,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338
4,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,...,2020-01-26,0,0,Level 2,In small metro area of less than 1 million res...,7587,13.8,2509,19.3,59338

## Merge state-level data

#### Merge current state-level data

In [68]:
mergeCovState = pd.merge(dfcovSt_current, state_pop, how='inner', on = 'state')
mergeCovState

,state,date,cases,deaths,male,female,population,female_proportion
0,Alabama,2021-07-30,577463,11510,2355799,2508881,4864680,0.515734
1,Alaska,2021-07-30,75486,389,385579,352937,738516,0.477900
2,Arizona,2021-07-30,925169,18224,3453439,3493246,6946685,0.502865
3,Arkansas,2021-07-30,385113,6123,1468412,1522259,2990671,0.509002
4,California,2021-07-30,3956303,64423,19453769,19694991,39148760,0.503081
5,Colorado,2021-07-30,575082,6945,2780831,2750310,5531141,0.497241
6,Connecticut,2021-07-30,354335,8293,1747131,1834373,3581504,0.512180
7,Delaware,2021-07-30,111275,1830,459570,489925,949495,0.515985
8,District of Columbia,2021-07-30,50398,1149,324881,359617,684498,0.525373
9,Florida,2021-07-30,2634234,39079,10071925,10526214,20598139,0.511027
10,Georgia,2021-07-30,1179449,21676,5012229,5285255,10297484,0.513257
11,Hawaii,2021-07-30,41925,537,713772,708257,1422029,0.498061
12,Idaho,2021-07-30,200484,2197,845564,842245,1687809,0.499017
13,Illinois,2021-07-30,1419611,25873,6295915,6525582,12821497,0.508956
14,Indiana,2021-07-30,771299,14005,3271068,3366358,6637426,0.507178
15,Iowa,2021-07-30,378831,6183,1554481,1578018,3132499,0.503757
16,Kansas,2021-07-30,333850,5261,1449413,1459363,2908776,0.501710
17,Kentucky,2021-07-30,482599,7334,2186715,2253489,4440204,0.507519
18,Louisiana,2021-07-30,541679,10999,2279968,2383648,4663616,0.511116
19,Maine,2021-07-30,70372,899,652299,680514,1332813,0.510585
20,Maryland,2021-07-30,467961,9818,2910323,3093112,6003435,0.515224
21,Massachusetts,2021-07-30,716771,18076,3313979,3516214,6830193,0.514804
22,Michigan,2021-07-30,984016,21028,4899118,5058370,9957488,0.507997
23,Minnesota,2021-07-30,612701,7761,2751748,2775610,5527358,0.502159
24,Mississippi,2021-07-30,343505,7543,1450379,1538383,2988762,0.514722
25,Missouri,2021-07-30,634482,9464,2988772,3101290,6090062,0.509238
26,Montana,2021-07-30,116366,1704,524220,517512,1041732,0.496780
27,Nebraska,2021-07-30,228450,2280,949910,954850,1904760,0.501297
28,Nevada,2021-07-30,356401,5912,1467165,1455684,2922849,0.498036
29,New Hampshire,2021-07-30,100657,1387,664983,678639,1343622,0.505082
30,New Jersey,2021-07-30,1038171,26595,4335930,4545915,8881845,0.511821
31,New Mexico,2021-07-30,210416,4410,1035850,1056584,2092434,0.504955
32,New York,2021-07-30,2147318,53632,9519555,10098898,19618453,0.514765
33,North Carolina,2021-07-30,1048076,13635,4944759,5210865,10155624,0.513101
34,North Dakota,2021-07-30,111570,1570,386183,366018,752201,0.486596
35,Ohio,2021-07-30,1127808,20492,5703967,5937912,11641879,0.510048
36,Oklahoma,2021-07-30,480635,7485,1941576,1976561,3918137,0.504464
37,Oregon,2021-07-30,219755,2858,2023021,2058922,4081943,0.504398
38,Pennsylvania,2021-07-30,1229002,27850,6263189,6527992,12791181,0.510351
39,Rhode Island,2021-07-30,154339,2740,513332,543279,1056611,0.514171
40,South Carolina,2021-07-30,617148,9904,2405726,2550199,4955925,0.514576
41,South Dakota,2021-07-30,125225,2045,435761,428528,864289,0.495816
42,Tennessee,2021-07-30,893554,12724,3243678,3407411,6651089,0.512309
43,Texas,2021-07-30,3133639,53248,13849775,14035420,27885195,0.503329
44,Utah,2021-07-30,325592,1670,1532768,1512582,3045350,0.496686
45,Vermont,2021-07-30,24889,260,307973,317004,624977,0.507225
46,Virginia,2021-07-30,694384,11532,4138574,4275200,8413774,0.508119
47,Washington,2021-07-30,473076,6122,3645665,3648671,7294336,0.500206
48,West Virginia,2021-07-30,167016,2946,904196,924858,1829054,0.505648
49,Wisconsin,2021-07-30,687198,8290,2872376,2906018,5778394,0.502911
50,Wyoming,2021-07-30,65127,776,296979,284857,581836,0.489583

In [69]:
mergeCovStatePov = pd.merge(mergeCovState, dfPoverty, how = "inner", left_on = "state", right_on = "Area_name")
mergeCovStatePov

,state,date,cases,deaths,male,female,population,female_proportion,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,Alabama,2021-07-30,577463,11510,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
1,Alaska,2021-07-30,75486,389,385579,352937,738516,0.477900,2000,AK,Alaska,NaN,NaN,80224,11.1,26096,14.5,74912
2,Arizona,2021-07-30,925169,18224,3453439,3493246,6946685,0.502865,4000,AZ,Arizona,NaN,NaN,990291,14.1,328780,20.4,59079
3,Arkansas,2021-07-30,385113,6123,1468412,1522259,2990671,0.509002,5000,AR,Arkansas,NaN,NaN,492306,16.8,164056,23.8,47094
4,California,2021-07-30,3956303,64423,19453769,19694991,39148760,0.503081,6000,CA,California,NaN,NaN,4972955,12.8,1539628,17.4,75250
5,Colorado,2021-07-30,575082,6945,2780831,2750310,5531141,0.497241,8000,CO,Colorado,NaN,NaN,540579,9.7,151618,12.1,71949
6,Connecticut,2021-07-30,354335,8293,1747131,1834373,3581504,0.512180,9000,CT,Connecticut,NaN,NaN,358519,10.3,100250,13.8,76366
7,Delaware,2021-07-30,111275,1830,459570,489925,949495,0.515985,10000,DE,Delaware,NaN,NaN,114691,12.2,35031,17.6,65467
8,District of Columbia,2021-07-30,50398,1149,324881,359617,684498,0.525373,11000,DC,District of Columbia,NaN,NaN,107806,16.1,30803,24.5,82533
9,District of Columbia,2021-07-30,50398,1149,324881,359617,684498,0.525373,11001,DC,District of Columbia,Level 1,In large metro area of 1+ million residents,107806,16.1,30803,24.5,82533
10,Florida,2021-07-30,2634234,39079,10071925,10526214,20598139,0.511027,12000,FL,Florida,NaN,NaN,2854438,13.7,831420,20.0,55433
11,Georgia,2021-07-30,1179449,21676,5012229,5285255,10297484,0.513257,13000,GA,Georgia,NaN,NaN,1484439,14.5,516311,21.0,58634
12,Hawaii,2021-07-30,41925,537,713772,708257,1422029,0.498061,15000,HI,Hawaii,NaN,NaN,124400,9.0,35184,11.8,80527
13,Idaho,2021-07-30,200484,2197,845564,842245,1687809,0.499017,16000,ID,Idaho,NaN,NaN,201804,11.7,62392,14.2,55524
14,Illinois,2021-07-30,1419611,25873,6295915,6525582,12821497,0.508956,17000,IL,Illinois,NaN,NaN,1509348,12.1,457282,16.2,65063
15,Indiana,2021-07-30,771299,14005,3271068,3366358,6637426,0.507178,18000,IN,Indiana,NaN,NaN,844165,13.0,268470,17.5,55725
16,Iowa,2021-07-30,378831,6183,1554481,1578018,3132499,0.503757,19000,IA,Iowa,NaN,NaN,342574,11.2,96859,13.5,60071
17,Kansas,2021-07-30,333850,5261,1449413,1459363,2908776,0.501710,20000,KS,Kansas,NaN,NaN,336892,11.9,102616,14.8,58150
18,Kentucky,2021-07-30,482599,7334,2186715,2253489,4440204,0.507519,21000,KY,Kentucky,NaN,NaN,723053,16.7,219283,22.3,50189
19,Louisiana,2021-07-30,541679,10999,2279968,2383648,4663616,0.511116,22000,LA,Louisiana,NaN,NaN,848005,18.7,286532,26.5,48021
20,Maine,2021-07-30,70372,899,652299,680514,1332813,0.510585,23000,ME,Maine,NaN,NaN,151458,11.6,35960,14.8,55579
21,Maryland,2021-07-30,467961,9818,2910323,3093112,6003435,0.515224,24000,MD,Maryland,NaN,NaN,538824,9.1,159872,12.1,83076
22,Massachusetts,2021-07-30,716771,18076,3313979,3516214,6830193,0.514804,25000,MA,Massachusetts,NaN,NaN,668402,10.0,166516,12.4,79817
23,Michigan,2021-07-30,984016,21028,4899118,5058370,9957488,0.507997,26000,MI,Michigan,NaN,NaN,1369235,14.0,409201,19.3,56640
24,Minnesota,2021-07-30,612701,7761,2751748,2775610,5527358,0.502159,27000,MN,Minnesota,NaN,NaN,527445,9.6,147732,11.5,70295
25,Mississippi,2021-07-30,343505,7543,1450379,1538383,2988762,0.514722,28000,MS,Mississippi,NaN,NaN,571402,19.8,195794,28.2,44740
26,Missouri,2021-07-30,634482,9464,2988772,3101290,6090062,0.509238,29000,MO,Missouri,NaN,NaN,785343,13.2,245703,18.3,54412
27,Montana,2021-07-30,116366,1704,524220,517512,1041732,0.496780,30000,MT,Montana,NaN,NaN,134185,12.9,36711,16.4,55248
28,Nebraska,2021-07-30,228450,2280,949910,954850,1904760,0.501297,31000,NE,Nebraska,NaN,NaN,205393,11.0,60389,12.9,59724
29,Nevada,2021-07-30,356401,5912,1467165,1455684,2922849,0.498036,32000,NV,Nevada,NaN,NaN,391347,13.1,124828,18.4,58740
30,New Hampshire,2021-07-30,100657,1387,664983,678639,1343622,0.505082,33000,NH,New Hampshire,NaN,NaN,100076,7.6,25379,10.1,75322
31,New Jersey,2021-07-30,1038171,26595,4335930,4545915,8881845,0.511821,34000,NJ,New Jersey,NaN,NaN,831386,9.5,261055,13.5,81777
32,New Mexico,2021-07-30,210416,4410,1035850,1056584,2092434,0.504955,35000,NM,New Mexico,NaN,NaN,386739,18.8,119378,25.3,47405
33,New York,2021-07-30,2147318,53632,9519555,10098898,19618453,0.514765,36000,NY,New York,NaN,NaN,2603303,13.7,751694,18.8,67648
34,North Carolina,2021-07-30,1048076,13635,4944759,5210865,10155624,0.513101,37000,NC,North Carolina,NaN,NaN,1422154,14.1,457103,20.2,53922
35,North Dakota,2021-07-30,111570,1570,386183,366018,752201,0.486596,38000,ND,North Dakota,NaN,NaN,77959,10.6,19332,11.0,65250
36,Ohio,2021-07-30,1127808,20492,5703967,5937912,11641879,0.510048,39000,OH,Ohio,NaN,NaN,1568586,13.8,489053,19.2,56155
37,Oklahoma,2021-07-30,480635,7485,1941576,1976561,3918137,0.504464,40000,OK,Oklahoma,NaN,NaN,593936,15.5,200399,21.4,51914
38,Oregon,2021-07-30,219755,2858,2023021,2058922,4081943,0.504398,41000,OR,Oregon,NaN,NaN,516014,12.5,134073,15.7,63168
39,Pennsylvania,2021-07-30,1229002,27850,6263189,6527992,12791181,0.510351,42000,PA,Pennsylvania,NaN,NaN,1517936,12.2,433329,16.7,60891
40,Rhode Island,2021-07-30,154339,2740,513332,543279,1056611,0.514171,44000,RI,Rhode Island,NaN,NaN,130538,12.8,36239,18.0,63787
41,South Carolina,2021-07-30,617148,9904,2405726,2550199,4955925,0.514576,45000,SC,South Carolina,NaN,NaN,750582,15.2,241192,22.1,52449
42,South Dakota,2021-07-30,125225,2045,435761,428528,864289,0.495816,46000,SD,South Dakota,NaN,NaN,109814,12.9,34211,16.1,57041
43,Tennessee,2021-07-30,893554,12724,3243678,3407411,6651089,0.512309,47000,TN,Tennessee,NaN,NaN,1003055,15.2,322616,21.8,52366
44,Texas,2021-07-30,3133639,53248,13849775,14035420,27885195,0.503329,48000,TX,Texas,NaN,NaN,4181623,14.9,1543228,21.1,60632
45,Utah,2021-07-30,325592,1670,1532768,1512582,3045350,0.496686,49000,UT,Utah,NaN,NaN,283562,9.1,89015,9.7,71381
46,Vermont,2021-07-30,24889,260,307973,317004,624977,0.507225,50000,VT,Vermont,NaN,NaN,64431,10.7,13791,12.2,60917
47,Virginia,2021-07-30,694384,11532,4138574,4275200,8413774,0.508119,51000,VA,Virginia,NaN,NaN,884898,10.7,253481,13.8,72600
48,Washington,2021-07-30,473076,6122,3645665,3648671,7294336,0.500206,53000,WA,Washington,NaN,NaN,761941,10.3,205912,12.6,74023
49,West Virginia,2021-07-30,167016,2946,904196,924858,1829054,0.505648,54000,WV,West Virginia,NaN,NaN,305656,17.4,82213,23.2,44038
50,Wisconsin,2021-07-30,687198,8290,2872376,2906018,5778394,0.502911,55000,WI,Wisconsin,NaN,NaN,626748,11.1,176595,14.1,60779
51,Wyoming,2021-07-30,65127,776,296979,284857,581836,0.489583,56000,WY,Wyoming,NaN,NaN,60097,10.7,17314,13.1,62259

We found out that there are two observations of District of Columbia, thus we removed the second one.

In [70]:
mergeCovStatePov.drop(mergeCovStatePov[mergeCovStatePov.FIPStxt == 11001].index, inplace = True)
len(mergeCovStatePov)

51

In [71]:
mergeCovStatePovVac = pd.merge(mergeCovStatePov, dfvac_current, how = "inner", left_on = "state", right_on = "location")
mergeCovStatePovVac

,state,date_x,cases,deaths,male,female,population,female_proportion,FIPStxt,Stabr,...,MEDHHINC_2018,date_y,location,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,daily_vaccinations,daily_vaccinations_per_million
0,Alabama,2021-07-30,577463,11510,2355799,2508881,4864680,0.515734,1000,AL,...,49881,2021-07-30,Alabama,2116551.0,34.33,73.15,1683367.0,43.17,13131.0,2678.0
1,Alaska,2021-07-30,75486,389,385579,352937,738516,0.477900,2000,AK,...,74912,2021-07-30,Alaska,376154.0,45.48,95.19,332678.0,51.42,837.0,1144.0
2,Arizona,2021-07-30,925169,18224,3453439,3493246,6946685,0.502865,4000,AZ,...,59079,2021-07-30,Arizona,3853257.0,45.19,97.35,3289110.0,52.94,12063.0,1657.0
3,Arkansas,2021-07-30,385113,6123,1468412,1522259,2990671,0.509002,5000,AR,...,47094,2021-07-30,Arkansas,1405459.0,36.29,80.61,1095214.0,46.57,9842.0,3261.0
4,California,2021-07-30,3956303,64423,19453769,19694991,39148760,0.503081,6000,CA,...,75250,2021-07-30,California,25549997.0,52.73,114.00,20834953.0,64.66,82509.0,2088.0
5,Colorado,2021-07-30,575082,6945,2780831,2750310,5531141,0.497241,8000,CO,...,71949,2021-07-30,Colorado,3464422.0,54.33,112.18,3128681.0,60.16,8922.0,1549.0
6,Connecticut,2021-07-30,354335,8293,1747131,1834373,3581504,0.512180,9000,CT,...,76366,2021-07-30,Connecticut,2487176.0,63.20,128.61,2253102.0,69.76,6152.0,1726.0
7,Delaware,2021-07-30,111275,1830,459570,489925,949495,0.515985,10000,DE,...,65467,2021-07-30,Delaware,589786.0,52.63,111.72,512530.0,60.57,1686.0,1731.0
8,District of Columbia,2021-07-30,50398,1149,324881,359617,684498,0.525373,11000,DC,...,82533,2021-07-30,District of Columbia,450511.0,54.67,127.45,385812.0,63.83,1028.0,1457.0
9,Florida,2021-07-30,2634234,39079,10071925,10526214,20598139,0.511027,12000,FL,...,55433,2021-07-30,Florida,12344424.0,48.77,104.66,10474974.0,57.48,58800.0,2738.0
10,Georgia,2021-07-30,1179449,21676,5012229,5285255,10297484,0.513257,13000,GA,...,58634,2021-07-30,Georgia,4910269.0,38.65,84.20,4103919.0,46.25,27357.0,2577.0
11,Hawaii,2021-07-30,41925,537,713772,708257,1422029,0.498061,15000,HI,...,80527,2021-07-30,Hawaii,1009978.0,53.49,121.29,757336.0,71.33,1374.0,970.0
12,Idaho,2021-07-30,200484,2197,845564,842245,1687809,0.499017,16000,ID,...,55524,2021-07-30,Idaho,733952.0,37.34,76.74,667292.0,41.07,1769.0,990.0
13,Illinois,2021-07-30,1419611,25873,6295915,6525582,12821497,0.508956,17000,IL,...,65063,2021-07-30,Illinois,7884514.0,48.47,107.42,6142053.0,62.22,21859.0,1725.0
14,Indiana,2021-07-30,771299,14005,3271068,3366358,6637426,0.507178,18000,IN,...,55725,2021-07-30,Indiana,3173596.0,44.17,90.04,2973361.0,47.14,9339.0,1387.0
15,Iowa,2021-07-30,378831,6183,1554481,1578018,3132499,0.503757,19000,IA,...,60071,2021-07-30,Iowa,1678551.0,49.59,99.45,1564444.0,53.20,3773.0,1196.0
16,Kansas,2021-07-30,333850,5261,1449413,1459363,2908776,0.501710,20000,KS,...,58150,2021-07-30,Kansas,1548703.0,45.14,92.54,1314972.0,53.16,18060.0,6199.0
17,Kentucky,2021-07-30,482599,7334,2186715,2253489,4440204,0.507519,21000,KY,...,50189,2021-07-30,Kentucky,2320180.0,45.49,93.68,2032349.0,51.93,7656.0,1714.0
18,Louisiana,2021-07-30,541679,10999,2279968,2383648,4663616,0.511116,22000,LA,...,48021,2021-07-30,Louisiana,1958099.0,36.84,78.03,1712663.0,42.12,13500.0,2904.0
19,Maine,2021-07-30,70372,899,652299,680514,1332813,0.510585,23000,ME,...,55579,2021-07-30,Maine,918580.0,63.45,123.82,852919.0,68.34,1716.0,1277.0
20,Maryland,2021-07-30,467961,9818,2910323,3093112,6003435,0.515224,24000,MD,...,83076,2021-07-30,Maryland,3906200.0,58.75,119.06,3551567.0,64.61,11026.0,1824.0
21,Massachusetts,2021-07-30,716771,18076,3313979,3516214,6830193,0.514804,25000,MA,...,79817,2021-07-30,Massachusetts,5000631.0,63.87,132.51,4402108.0,72.55,10295.0,1494.0
22,Michigan,2021-07-30,984016,21028,4899118,5058370,9957488,0.507997,26000,MI,...,56640,2021-07-30,Michigan,5297149.0,48.80,97.99,4873178.0,53.04,10132.0,1015.0
23,Minnesota,2021-07-30,612701,7761,2751748,2775610,5527358,0.502159,27000,MN,...,70295,2021-07-30,Minnesota,3314049.0,53.72,107.68,3029752.0,58.76,7180.0,1273.0
24,Mississippi,2021-07-30,343505,7543,1450379,1538383,2988762,0.514722,28000,MS,...,44740,2021-07-30,Mississippi,1182948.0,34.50,72.23,1026669.0,39.75,8181.0,2749.0
25,Missouri,2021-07-30,634482,9464,2988772,3101290,6090062,0.509238,29000,MO,...,54412,2021-07-30,Missouri,2979857.0,41.18,88.76,2527492.0,48.55,14316.0,2333.0
26,Montana,2021-07-30,116366,1704,524220,517512,1041732,0.496780,30000,MT,...,55248,2021-07-30,Montana,527498.0,44.27,90.91,473160.0,49.36,1169.0,1094.0
27,Nebraska,2021-07-30,228450,2280,949910,954850,1904760,0.501297,31000,NE,...,59724,2021-07-30,Nebraska,1040464.0,49.45,100.21,956540.0,53.79,3866.0,1999.0
28,Nevada,2021-07-30,356401,5912,1467165,1455684,2922849,0.498036,32000,NV,...,58740,2021-07-30,Nevada,1647017.0,44.31,96.02,1364717.0,53.47,7077.0,2298.0
29,New Hampshire,2021-07-30,100657,1387,664983,678639,1343622,0.505082,33000,NH,...,75322,2021-07-30,New Hampshire,878998.0,58.24,117.00,791860.0,64.65,1700.0,1250.0
30,New Jersey,2021-07-30,1038171,26595,4335930,4545915,8881845,0.511821,34000,NJ,...,81777,2021-07-30,New Jersey,5847756.0,58.28,116.59,5176518.0,65.84,19883.0,2239.0
31,New Mexico,2021-07-30,210416,4410,1035850,1056584,2092434,0.504955,35000,NM,...,47405,2021-07-30,New Mexico,1369002.0,56.95,118.15,1194187.0,65.29,3102.0,1479.0
32,New York,2021-07-30,2147318,53632,9519555,10098898,19618453,0.514765,36000,NY,...,67648,2021-07-30,New York,12242044.0,57.01,117.73,11091103.0,62.93,37673.0,1937.0
33,North Carolina,2021-07-30,1048076,13635,4944759,5210865,10155624,0.513101,37000,NC,...,53922,2021-07-30,North Carolina,5356957.0,43.71,92.50,4584126.0,51.08,18660.0,1779.0
34,North Dakota,2021-07-30,111570,1570,386183,366018,752201,0.486596,38000,ND,...,65250,2021-07-30,North Dakota,345841.0,40.07,86.89,305349.0,45.38,846.0,1110.0
35,Ohio,2021-07-30,1127808,20492,5703967,5937912,11641879,0.510048,39000,OH,...,56155,2021-07-30,Ohio,5818078.0,46.46,94.71,5430840.0,49.77,14399.0,1232.0
36,Oklahoma,2021-07-30,480635,7485,1941576,1976561,3918137,0.504464,40000,OK,...,51914,2021-07-30,Oklahoma,1890094.0,40.19,87.20,1590417.0,47.77,8113.0,2050.0
37,Oregon,2021-07-30,219755,2858,2023021,2058922,4081943,0.504398,41000,OR,...,63168,2021-07-30,Oregon,2556604.0,55.91,112.31,2357975.0,60.62,5331.0,1264.0
38,Pennsylvania,2021-07-30,1229002,27850,6263189,6527992,12791181,0.510351,42000,PA,...,60891,2021-07-30,Pennsylvania,8378102.0,52.29,113.64,6693606.0,65.44,24401.0,1906.0
39,Rhode Island,2021-07-30,154339,2740,513332,543279,1056611,0.514171,44000,RI,...,63787,2021-07-30,Rhode Island,712633.0,61.43,125.30,650713.0,67.27,1765.0,1666.0
40,South Carolina,2021-07-30,617148,9904,2405726,2550199,4955925,0.514576,45000,SC,...,52449,2021-07-30,South Carolina,2401300.0,40.56,85.47,2088129.0,46.64,8674.0,1685.0
41,South Dakota,2021-07-30,125225,2045,435761,428528,864289,0.495816,46000,SD,...,57041,2021-07-30,South Dakota,466042.0,46.91,96.07,414977.0,52.68,1260.0,1424.0
42,Tennessee,2021-07-30,893554,12724,3243678,3407411,6651089,0.512309,47000,TN,...,52366,2021-07-30,Tennessee,3046898.0,39.04,84.05,2665810.0,44.62,11959.0,1751.0
43,Texas,2021-07-30,3133639,53248,13849775,14035420,27885195,0.503329,48000,TX,...,60632,2021-07-30,Texas,14922919.0,43.75,94.27,12684799.0,51.47,64934.0,2239.0
44,Utah,2021-07-30,325592,1670,1532768,1512582,3045350,0.496686,49000,UT,...,71381,2021-07-30,Utah,1663466.0,44.68,93.38,1432276.0,51.89,4979.0,1553.0
45,Vermont,2021-07-30,24889,260,307973,317004,624977,0.507225,50000,VT,...,60917,2021-07-30,Vermont,470908.0,67.49,139.79,421106.0,75.47,589.0,944.0
46,Virginia,2021-07-30,694384,11532,4138574,4275200,8413774,0.508119,51000,VA,...,72600,2021-07-30,Virginia,5255419.0,54.42,113.18,4644755.0,61.57,14727.0,1725.0
47,Washington,2021-07-30,473076,6122,3645665,3648671,7294336,0.500206,53000,WA,...,74023,2021-07-30,Washington,4863756.0,57.56,118.05,4382753.0,63.87,12429.0,1632.0
48,West Virginia,2021-07-30,167016,2946,904196,924858,1829054,0.505648,54000,WV,...,44038,2021-07-30,West Virginia,824654.0,39.03,82.98,699470.0,46.01,485.0,271.0
49,Wisconsin,2021-07-30,687198,8290,2872376,2906018,5778394,0.502911,55000,WI,...,60779,2021-07-30,Wisconsin,3233319.0,51.72,105.70,3011405.0,55.53,8964.0,1540.0
50,Wyoming,2021-07-30,65127,776,296979,284857,581836,0.489583,56000,WY,...,62259,2021-07-30,Wyoming,240961.0,36.61,77.16,211874.0,41.63,697.0,1204.0

In [72]:
mergeCovStatePovVac.columns

Index(['state', 'date_x', 'cases', 'deaths', 'male', 'female', 'population',
       'female_proportion', 'FIPStxt', 'Stabr', 'Area_name',
       'Rural-urban_Continuum_Code_2013', 'Urban_Influence_Code_2013',
       'POVALL_2018', 'PCTPOVALL_2018', 'POV017_2018', 'PCTPOV017_2018',
       'MEDHHINC_2018', 'date_y', 'location', 'people_vaccinated',
       'people_fully_vaccinated_per_hundred', 'total_vaccinations_per_hundred',
       'people_fully_vaccinated', 'people_vaccinated_per_hundred',
       'daily_vaccinations', 'daily_vaccinations_per_million'],
      dtype='object')

In [73]:
state_current = mergeCovStatePovVac[['state', 'date_x', 'cases', 'deaths', 'male', 'female', 'population',
       'female_proportion', 'FIPStxt', 'Stabr', 
       'POVALL_2018', 'PCTPOVALL_2018', 'POV017_2018', 'PCTPOV017_2018',
       'MEDHHINC_2018', 'people_vaccinated', 'people_fully_vaccinated_per_hundred', 'total_vaccinations_per_hundred',
       'people_fully_vaccinated', 'people_vaccinated_per_hundred',
       'daily_vaccinations', 'daily_vaccinations_per_million']]

### Merge time series state-level data

In [89]:
mergeCovStatets = pd.merge(dfcovSt, state_pop, how='inner', on = 'state')
mergeCovStatets.head()

,state,date,cases,deaths,male,female,population,female_proportion
0,Alabama,2020-01-22,0,0,2355799,2508881,4864680,0.515734
1,Alabama,2020-01-23,0,0,2355799,2508881,4864680,0.515734
2,Alabama,2020-01-24,0,0,2355799,2508881,4864680,0.515734
3,Alabama,2020-01-25,0,0,2355799,2508881,4864680,0.515734
4,Alabama,2020-01-26,0,0,2355799,2508881,4864680,0.515734

In [88]:
mergeCovStatePovts = pd.merge(mergeCovStatets, dfPoverty, how = "inner", left_on = "state", right_on = "Area_name")
mergeCovStatePovts.head()

,state,date,cases,deaths,male,female,population,female_proportion,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,Alabama,2020-01-22,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
1,Alabama,2020-01-23,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
2,Alabama,2020-01-24,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
3,Alabama,2020-01-25,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
4,Alabama,2020-01-26,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881

In [87]:
mergeCovStatePovts.drop(mergeCovStatePovts[mergeCovStatePovts.FIPStxt == 11001].index, inplace = True)
mergeCovStatePovts.head()

,state,date,cases,deaths,male,female,population,female_proportion,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,PCTPOVALL_2018,POV017_2018,PCTPOV017_2018,MEDHHINC_2018
0,Alabama,2020-01-22,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
1,Alabama,2020-01-23,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
2,Alabama,2020-01-24,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
3,Alabama,2020-01-25,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881
4,Alabama,2020-01-26,0,0,2355799,2508881,4864680,0.515734,1000,AL,Alabama,NaN,NaN,801758,16.8,255613,23.9,49881

In [86]:
mergeCovStatePovVacts = pd.merge(mergeCovStatePovts, dfvac, how = "inner", left_on = ["state", "date"], right_on = ["location", "date"])
mergeCovStatePovVacts.head()

,state,date,cases,deaths,male,female,population,female_proportion,FIPStxt,Stabr,...,PCTPOV017_2018,MEDHHINC_2018,location,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,daily_vaccinations,daily_vaccinations_per_million
0,Alabama,2021-01-12,407848,5573,2355799,2508881,4864680,0.515734,1000,AL,...,23.9,49881,Alabama,70861.0,0.15,1.59,7270.0,1.45,NaN,NaN
1,Alabama,2021-01-13,410995,5760,2355799,2508881,4864680,0.515734,1000,AL,...,23.9,49881,Alabama,74792.0,0.19,1.71,9245.0,1.53,5906.0,1205.0
2,Alabama,2021-01-14,414583,5945,2355799,2508881,4864680,0.515734,1000,AL,...,23.9,49881,Alabama,80480.0,NaN,1.88,NaN,1.64,7083.0,1445.0
3,Alabama,2021-01-15,417528,6030,2355799,2508881,4864680,0.515734,1000,AL,...,23.9,49881,Alabama,86956.0,0.28,2.05,13488.0,1.77,7478.0,1525.0
4,Alabama,2021-01-16,420681,6119,2355799,2508881,4864680,0.515734,1000,AL,...,23.9,49881,Alabama,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0

In [80]:
mergeCovStatePovVacts.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [81]:
state_ts = mergeCovStatePovVacts[['state', 'date', 'cases', 'deaths', 'male', 'female', 'population',
       'female_proportion', 'FIPStxt', 'Stabr', 
       'POVALL_2018', 'PCTPOVALL_2018', 'POV017_2018', 'PCTPOV017_2018',
       'MEDHHINC_2018', 'people_vaccinated', 'people_fully_vaccinated_per_hundred', 'total_vaccinations_per_hundred',
       'people_fully_vaccinated', 'people_vaccinated_per_hundred',
       'daily_vaccinations', 'daily_vaccinations_per_million']]

In [85]:
state_ts.head()

,state,date,cases,deaths,male,female,population,female_proportion,FIPStxt,Stabr,...,POV017_2018,PCTPOV017_2018,MEDHHINC_2018,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,daily_vaccinations,daily_vaccinations_per_million
0,Alabama,2021-01-12,407848,5573,2355799,2508881,4864680,0.515734,1000,AL,...,255613,23.9,49881,70861.0,0.15,1.59,7270.0,1.45,NaN,NaN
1,Alabama,2021-01-13,410995,5760,2355799,2508881,4864680,0.515734,1000,AL,...,255613,23.9,49881,74792.0,0.19,1.71,9245.0,1.53,5906.0,1205.0
2,Alabama,2021-01-14,414583,5945,2355799,2508881,4864680,0.515734,1000,AL,...,255613,23.9,49881,80480.0,NaN,1.88,NaN,1.64,7083.0,1445.0
3,Alabama,2021-01-15,417528,6030,2355799,2508881,4864680,0.515734,1000,AL,...,255613,23.9,49881,86956.0,0.28,2.05,13488.0,1.77,7478.0,1525.0
4,Alabama,2021-01-16,420681,6119,2355799,2508881,4864680,0.515734,1000,AL,...,255613,23.9,49881,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0

In [ ]:
statelonlat = pd.read_csv('data/StateLonLat.csv')
statelonlat.head()

In [ ]:
mergeCovState2 = pd.merge(mergeCovState, statelonlat, how='left', on = 'state')

In [ ]:
lis = []
for str in  mergeCovState2['date']:
    lis.append(int(str[-1]))
    
lis

In [ ]:
mergeCovState2["daylastdigit"] = lis
mergeCovState10days = mergeCovState2[mergeCovState2["daylastdigit"]== 0 ]
mergeCovState10days.head()

In [ ]:
fig = px.scatter_geo(mergeCovState10days, lon = "longitude", lat = "latitude", hover_name='state', size="cases",
               animation_frame="date", projection='albers usa')
fig.show()

In [ ]:
lis = []
for str in  county_ts['date']:
    lis.append(int(str[-1]))
lis

In [ ]:
county_ts["daylastdigit"] = lis
county_ts10days = county_ts[county_ts["daylastdigit"] == 0 ]
county_ts10days.head()

In [ ]:
fig = px.scatter_geo(county_ts, lon = "long_x", lat = "lat_x", hover_name='county_x', size="cases",
               animation_frame="date", projection='albers usa', color = "Rural-urban_Continuum_Code_2013")
fig.update_layout(
    legend=dict(
        traceorder="reversed",
        title_font_family="Times New Roman",
        font=dict(
            family="Courier",
            size=9,
            color="black"
        ),
        bgcolor="LightSteelBlue",
        bordercolor="Black",
        borderwidth=2
    )
)
fig.show()